In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

# **Read data**

In [2]:
# Read shark attack dataset
shark_attacks = pd.read_csv('/content/drive/MyDrive/OefendataWinc/SharkAttacks.csv', 
                            encoding='unicode_escape')

display(shark_attacks)
display(shark_attacks.columns)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

# **Data preparation**

In [3]:
# Functions for detecting missing values
def print_separator(sep, num, msg):
  print('\n')
  print(sep * num)
  print(f'{msg}')
  print(sep * num)


# Tactic 1: Looking at all the unique values
def look_at_unique_values(column):
  unique_values_cutoff = 50
  unique_values = column.unique()
  num_unique_values = len(unique_values)
  if num_unique_values == len(column):
    print(f'Each value in the column is unique (total: {num_unique_values})')
  elif num_unique_values < len(column):
    print(f'Less than {len(column)} unique values (total: {num_unique_values})')
    # We may get an error when sorting
    try:
      sorted = np.sort(unique_values)
      print('Values are sorted')
      display(list(sorted))
    except:
      print('Could not sort values')
      display(list(unique_values))
    else:
      print(f"More than {unique_values_cutoff} unique values (total: {num_unique_values})")


# Tactic 2: Sorting and looking at the edges
def look_at_edges(df, column_name):
  def show_head_and_tail(values):
      num_items_to_slice = 10
      display(list(values)[:num_items_to_slice])
      display(list(values)[-num_items_to_slice:])

  column = df[column_name]
  unique_values = column.unique()
  try:
      sorted = np.sort(unique_values)
      print('Unique values sorted, head and tail:')
      show_head_and_tail(sorted)
  except TypeError as error:
      print(f'Could not sort values: {error}')
      print("..so let's try filtering NULL values and then sorting")
      non_null_uniques = df.loc[~df[column_name].isnull(), column_name].unique()
      sorted = np.sort(non_null_uniques)
      show_head_and_tail(sorted)


# Tactic 3: Casting to a type
def cast_to_type(column, data_type_column):
  try:
    column.astype(data_type_column)
    print(f'Casting to {data_type_column} was successful')
  except ValueError as error:
    print(f'Could not cast to {data_type_column}: {error}')


# Find non-default missing values in the dataset
def find_non_default_missing_values(df, column_name, data_type_column):
  long_separator_amount = 80
  short_separator_amount = 40

  print_separator('*', long_separator_amount, f'Finding non-default missing values for column \'{column_name}\'')

  print(f'Column \'{column_name}\' has datatype: {df.dtypes[column_name]}')

  column = df[column_name]  

  # A Looking at all the unique values
  print_separator('-', short_separator_amount, 'A: Looking at unique values')
  look_at_unique_values(column)

  # B Sorting and looking at the edges
  print_separator('-', short_separator_amount, 'B: Sorting and looking at the edges')
  look_at_edges(df, column_name)

  # C Casting to a type
  print_separator('-', short_separator_amount, f'C: Casting to type: {data_type_column}')
  cast_to_type(column, data_type_column)

  # D Looking at the frequency
  print_separator('-', short_separator_amount, 'D: Looking at frequency')
  display(column.value_counts(dropna=False))

  print('\n')


# Replace values
def replace_value(df, column_name, missing_old, missing_new):
  df[column_name] = df[column_name].replace({missing_old: missing_new})

In [4]:
# Remove unnecessary columns
shark_attacks.drop(columns=['Case Number', 'Name', 'Time', 'Investigator or Source', 'pdf', 
                            'href formula', 'href', 'Case Number.1', 'Case Number.2', 
                            'original order', 'Unnamed: 22', 'Unnamed: 23'], 
                   inplace=True)

# Rename columns
shark_attacks.rename(columns={'Sex ' : 'Sex_Victim', 'Fatal (Y/N)' : 'Fatal_(Y/N)', 
                              'Species ' : 'Species'}, 
                     inplace=True)

display(shark_attacks)

,Date,Year,Type,Country,Area,Location,Activity,Sex_Victim,Age,Injury,Fatal_(Y/N),Species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Remove rows with only NaN values
shark_attacks.dropna(how='all', inplace=True)

display(shark_attacks)

,Date,Year,Type,Country,Area,Location,Activity,Sex_Victim,Age,Injury,Fatal_(Y/N),Species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,FATAL,Y,NaN
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,FATAL,Y,NaN
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,Y,NaN
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,M,NaN,FATAL,Y,NaN
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

In [6]:
# Remove invalid cases from dataset, because these don't count as a shark attack
shark_attacks = shark_attacks[shark_attacks['Type'] != 'Invalid']

display(shark_attacks)

,Date,Year,Type,Country,Area,Location,Activity,Sex_Victim,Age,Injury,Fatal_(Y/N),Species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
5,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,M,NaN,"No injury, board bitten",N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,FATAL,Y,NaN
6298,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,FATAL,Y,NaN
6299,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,Y,NaN
6300,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,M,NaN,FATAL,Y,NaN
6301,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN

In [7]:
print(shark_attacks.dtypes)
print(shark_attacks.columns)

Date            object
Year           float64
Type            object
Country         object
Area            object
Location        object
Activity        object
Sex_Victim      object
Age             object
Injury          object
Fatal_(Y/N)     object
Species         object
dtype: object
Index(['Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity',
       'Sex_Victim', 'Age', 'Injury', 'Fatal_(Y/N)', 'Species'],
      dtype='object')

In [8]:
# Check Date column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Date', 'string')

# All values are OK

********************************************************************************
Finding non-default missing values for column 'Date'
********************************************************************************
Column 'Date' has datatype: object


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 4979)
Values are sorted

['    10-Jan-2009',
 '    15-Jun-1937',
 '    16-Jan-1970',
 '    22-Jul-2013',
 '   21-Sep-1908',
 '  03-Feb-1914',
 '  05-Oct-1985',
 '  10-Jan-1903',
 '  16-Feb-1910',
 '  19-Jul-1889',
 '  21-Jun-1934',
 '  24-Mar-1990',
 '  25-Jun-1982',
 '  28-Jan-1877',
 '  28-Jan-1900',
 '  29-Jul-2013',
 '  29-Oct-2011',
 '  30-Jul-2013',
 '  31-Jul-2013',
 '  Reported 31-Jul-1958',
 ' 01-Dec-1979',
 ' 01-Sep-2013',
 ' 02-Sep-2013',
 ' 04-Sep-2010',
 ' 05-Aug-2013',
 ' 07-Apr-1877',
 ' 07-Sep-2013',
 ' 08-Aug-1890',
 ' 08-Jul-1958',
 ' 11-Jan-1896',
 ' 11-Mar-1877',
 ' 12-Sep-2013',
 ' 13-Aug-2013',
 ' 13-Jan-1999',
 ' 13-Sep-2010',
 ' 14-Aug-2013',
 ' 14-Sep-2013',
 ' 15-Feb-1988',
 ' 18-Aug-2013',
 ' 18-Nov-1948',
 ' 19-Aug-1993',
 ' 19-Feb-2016',
 ' 19-Jul-2004 Reported to have happened  "on the weekend"',
 ' 2-Jul-1997',
 ' 21-Sep-2013',
 ' 22-Jun-1956',
 ' 22-Sep-1879',
 ' 24-Aug-1916',
 ' 25-Aug-2013',
 ' 25-Sep-2013',
 ' 27-Mar-2010',
 ' Jan-1970',
 ' Jul-1898',
 '"Anniversary Day" 22-Jan-1850 or 1852',
 '"Before the war"',
 '"During the war" 1943-1945',
 '.Reported 22-Feb-1902',
 '01-Apr-1934',
 '01-Apr-1960',
 '01-Apr-1972',
 '01-Apr-1987',
 '01-Apr-1990',
 '01-Apr-1998',
 '01-Apr-1999',
 '01-Apr-2002',
 '01-Apr-2007',
 '01-Aug-1860',
 '01-Aug-1894',
 '01-Aug-1931',
 '01-Aug-1939',
 '01-Aug-1941',
 '01-Aug-1958',
 '01-Aug-1961',
 '01-Aug-1962',
 '01-Aug-1998',
 '01-Aug-2009',
 '01-Aug-2011',
 '01-Aug-2014',
 '01-Aug-2017',
 '01-Dec-1849',
 '01-Dec-1901',
 '01-Dec-1936',
 '01-Dec-1960',
 '01-Dec-1972',
 '01-Dec-1994',
 '01-Dec-2002',
 '01-Dec-2010',
 '01-Dec-2016',
 '01-Feb-1941',
 '01-Feb-1951',
 '01-Feb-1955',
 '01-Feb-1958',
 '01-Feb-1959',
 '01-Feb-1961',
 '01-Feb-1964',
 '01-Feb-1975',
 '01-Feb-1986',
 '01-Feb-2000',
 '01-Feb-2006',
 '01-Feb-2010',
 '01-Feb-2013',
 '01-Feb-2017',
 '01-Jan-1886',
 '01-Jan-1912',
 '01-Jan-1915',
 '01-Jan-1940',
 '01-Jan-1946',
 '01-Jan-1960',
 '01-Jan-1961',
 '01-Jan-1962',
 '01-Jan-1964',
 '01-Jan-1971',
 '01-Jan-1972',
 '01-Jan-1997',
 '01-Jan-1999',
 '01-Jan-2002',
 '01-Jan-2006',
 '01-Jan-2007',
 '01-Jan-2015',
 '01-Jul-1916',
 '01-Jul-1935',
 '01-Jul-1941',
 '01-Jul-1948',
 '01-Jul-1953',
 '01-Jul-1958',
 '01-Jul-1981',
 '01-Jul-1982',
 '01-Jul-1984',
 '01-Jul-1991',
 '01-Jul-2015',
 '01-Jun-1870',
 '01-Jun-1961',
 '01-Jun-1963',
 '01-Jun-1971',
 '01-Jun-1976',
 '01-Jun-1988',
 '01-Jun-1993',
 '01-Jun-2008',
 '01-Jun-2009',
 '01-Jun-2011',
 '01-Jun-2014',
 '01-Jun-2015',
 '01-Mar-1811',
 '01-Mar-1967',
 '01-Mar-1979',
 '01-Mar-1984',
 '01-Mar-1994',
 '01-Mar-2009',
 '01-Mar-2012',
 '01-May-1911',
 '01-May-1950',
 '01-May-1960',
 '01-May-1999',
 '01-May-2004',
 '01-May-2008',
 '01-May-2010',
 '01-May-2014',
 '01-Nov-1896',
 '01-Nov-1942',
 '01-Nov-1959',
 '01-Nov-1974',
 '01-Nov-1990',
 '01-Nov-2003',
 '01-Nov-2015',
 '01-Oct-1981',
 '01-Oct-1986',
 '01-Oct-1989',
 '01-Oct-1992',
 '01-Oct-1995',
 '01-Oct-1998',
 '01-Oct-1999',
 '01-Oct-2004',
 '01-Oct-2005',
 '01-Oct-2010',
 '01-Oct-2011',
 '01-Oct-2016',
 '01-Sep-1868',
 '01-Sep-1929',
 '01-Sep-1937',
 '01-Sep-1958',
 '01-Sep-1967',
 '01-Sep-1974',
 '01-Sep-1996',
 '01-Sep-2001',
 '01-Sep-2008',
 '01-Sep-2009',
 '01-Sep-2015',
 '01-Sep-2016',
 '02-Ap-2001',
 '02-Apr-1978',
 '02-Apr-1983',
 '02-Apr-1994',
 '02-Apr-2001',
 '02-Apr-2002',
 '02-Apr-2013',
 '02-Apr-2017',
 '02-Aug-1925',
 '02-Aug-1937',
 '02-Aug-1961',
 '02-Aug-1969',
 '02-Aug-1997',
 '02-Aug-2010',
 '02-Aug-2014',
 '02-Dec-1923',
 '02-Dec-1930',
 '02-Dec-1944',
 '02-Dec-1968',
 '02-Dec-1975',
 '02-Dec-1999',
 '02-Dec-2006',
 '02-Dec-2011',
 '02-Dec-2012',
 '02-Dec-2013',
 '02-Feb-1878',
 '02-Feb-1957',
 '02-Feb-1959 Reported',
 '02-Feb-1962',
 '02-Feb-1968',
 '02-Feb-1981',
 '02-Feb-1988',
 '02-Feb-1989',
 '02-Feb-2011',
 '02-Feb-2016',
 '02-Jan-1864',
 '02-Jan-1928',
 '02-Jan-1938',
 '02-Jan-1959',
 '02-Jan-1962',
 '02-Jan-1971',
 '02-Jan-1976',
 '02-Jan-1993',
 '02-Jan-1995',
 '02-Jan-2003',
 '02-Jan-2012',
 '02-Jan-2016',
 '02-Jul-1932',
 '02-Jul-1958',
 '02-Jul-1959',
 '02-Jul-1960',
 '02-Jul-1966',
 '02-Jul-1974',
 '02-Jul-1977',
 '02-Jul-2000',
 '02-Jul-2004',
 '02-Jul-2010',
 '02-Jul-2013',
 '02-Jul-2015',
 '02-Jun-1902',
 '02-Jun-1961',
 '02-Jun-1966',
 '02-Jun-1995',
 '02-Jun-1997',
 '02-Jun-2000',
 '02-Jun-2004',
 '02-Jun-2005',
 '02-Jun-2009',
 '02-Jun-2012',
 '02-Jun-2016',
 '02-Jun-2017',
 '02-Mar-1783',
 '02-Mar-1892',
 '02-Mar-1922',
 '02-Mar-1935',
 '02-Mar-1943',
 '02-Mar-1943 to 07-Mar-1943',
 '02-Mar-1976',
 '02-Mar-2000',
 '02-Mar-2009',
 '02-Mar-2014',
 '02-Mar-2016',
 '02-May-1880',
 '02-May-1913',
 '02-May-1931',
 '02-May-1976',
 '02-May-2005',
 '02-May-2006',
 '02-May-2015',
 '02-May-2016',
 '02-Nov-1904',
 '02-Nov-1968',
 '02-Nov-1975',
 '02-Nov-1989',
 '02-Nov-1998',
 '02-Nov-2002',
 '02-Nov-2005',
 '02-Oct-1864',
 '02-Oct-1929',
 '02-Oct-1954',
 '02-Oct-1959',
 '02-Oct-1971',
 '02-Oct-2000',
 '02-Oct-2001',
 '02-Oct-2004',
 '02-Oct-2009',
 '02-Oct-2010',
 '02-Oct-2011',
 '02-Oct-2012',
 '02-Oct-2014',
 '02-Oct-2016',
 '02-Sep-1865',
 '02-Sep-1878',
 '02-Sep-1948',
 '02-Sep-1953',
 '02-Sep-1957',
 '02-Sep-1962 ',
 '02-Sep-1970',
 '02-Sep-1974',
 '02-Sep-1996',
 '02-Sep-2001',
 '02-Sep-2005',
 '02-Sep-2006',
 '02-Sep-2010',
 '02-Sep-2011',
 '02-Sep-2012',
 '02-Sep-2014',
 '02-Sep-2017',
 '03- Dec-1989',
 '03-Apr-1916',
 '03-Apr-1958',
 '03-Apr-1960',
 '03-Apr-1961',
 '03-Apr-1989',
 '03-Apr-1991',
 '03-Apr-1994',
 '03-Apr-2006',
 '03-Apr-2008',
 '03-Apr-2009',
 '03-Apr-2012',
 '03-Apr-2014',
 '03-Apr-2015',
 '03-Apr-2018',
 '03-Aug-1915',
 '03-Aug-1948',
 '03-Aug-1952',
 '03-Aug-1964',
 '03-Aug-1979',
 '03-Aug-1986',
 '03-Aug-2001',
 '03-Aug-2004',
 '03-Aug-2017',
 '03-Dec-1882',
 '03-Dec-1941',
 '03-Dec-1952',
 '03-Dec-1959',
 '03-Dec-1970',
 '03-Dec-1984',
 '03-Dec-2000',
 '03-Feb-1907',
 '03-Feb-1912',
 '03-Feb-1920',
 '03-Feb-1937',
 '03-Feb-1951',
 '03-Feb-1976',
 '03-Feb-1985',
 '03-Feb-1997',
 '03-Feb-1999',
 '03-Feb-2000',
 '03-Feb-2007',
 '03-Feb-2010',
 '03-Feb-2018',
 '03-Jan-1880',
 '03-Jan-1927',
 '03-Jan-1961',
 '03-Jan-1989',
 '03-Jan-1992',
 '03-Jan-1994',
 '03-Jan-1997',
 '03-Jan-1999',
 '03-Jan-2002',
 '03-Jan-2003',
 '03-Jan-2004',
 '03-Jan-2011',
 '03-Jan-2012',
 '03-Jan-2015',
 '03-Jul-1893',
 '03-Jul-1927',
 '03-Jul-1933',
 '03-Jul-1954',
 '03-Jul-1959',
 '03-Jul-1960',
 '03-Jul-1995',
 '03-Jul-1999',
 '03-Jul-2001',
 '03-Jul-2010',
 '03-Jul-2015',
 '03-Jun-1862',
 '03-Jun-1917',
 '03-Jun-1962',
 '03-Jun-1984',
 '03-Jun-1989',
 '03-Jun-2001',
 '03-Jun-2002',
 '03-Jun-2012',
 '03-Jun-2018',
 '03-Mar-1875',
 '03-Mar-1914',
 '03-Mar-1985',
 '03-Mar-1991',
 '03-Mar-2001',
 '03-Mar-2013',
 '03-May-1895',
 '03-May-1933',
 '03-May-1939',
 '03-May-1959',
 '03-May-1979',
 '03-May-2001',
 '03-May-2003',
 '03-May-2005',
 '03-May-2010',
 '03-May-2015',
 '03-May-2016',
 '03-Nov-1927',
 '03-Nov-1965',
 '03-Nov-1973',
 '03-Nov-1985',
 '03-Nov-1990',
 '03-Nov-2007',
 '03-Nov-2015',
 '03-Oct-1986',
 '03-Oct-1996',
 '03-Oct-2002',
 '03-Oct-2005',
 '03-Oct-2014',
 '03-Sep-1913',
 '03-Sep-1925',
 '03-Sep-1944',
 '03-Sep-1955',
 '03-Sep-1981',
 '03-Sep-1989',
 '03-Sep-1993',
 '03-Sep-1995',
 '03-Sep-2001',
 '03-Sep-2006',
 '03-Sep-2007',
 '03-Sep-2010',
 '03-Sep-2014',
 '03-Sep-2015',
 '03-Sep-2017',
 '04-Apr-1858',
 '04-Apr-1877',
 '04-Apr-1928',
 '04-Apr-1929',
 '04-Apr-1953',
 '04-Apr-1965',
 '04-Apr-1973',
 '04-Apr-1974',
 '04-Apr-2003',
 '04-Apr-2010',
 '04-Apr-2013',
 '04-Apr-2014',
 '04-Aug-1906',
 '04-Aug-1947',
 '04-Aug-1952',
 '04-Aug-1960',
 '04-Aug-1961',
 '04-Aug-1975',
 '04-Aug-1980',
 '04-Aug-1997',
 '04-Aug-2001',
 '04-Aug-2012',
 '04-Aug-2016',
 '04-Dec-1887',
 '04-Dec-1943',
 '04-Dec-1954',
 '04-Dec-1963',
 '04-Dec-1991',
 '04-Feb 1993',
 '04-Feb-1904',
 '04-Feb-1922',
 '04-Feb-1936',
 '04-Feb-1937',
 '04-Feb-1955',
 '04-Feb-1962',
 '04-Feb-1965',
 '04-Feb-1968',
 '04-Feb-1996',
 '04-Feb-2001',
 '04-Feb-2005',
 '04-Feb-2016',
 '04-Jan-1911',
 '04-Jan-1922',
 '04-Jan-1933',
 '04-Jan-1942',
 '04-Jan-1944',
 '04-Jan-1963',
 '04-Jan-1964',
 '04-Jan-1984',
 '04-Jan-1985',
 '04-Jan-1993',
 '04-Jan-2002',
 '04-Jan-2006',
 '04-Jan-2014',
 '04-Jul-1924',
 '04-Jul-1953',
 '04-Jul-1958',
 '04-Jul-1975',
 '04-Jul-1988',
 '04-Jul-1996',
 '04-Jul-1999',
 '04-Jul-2000',
 '04-Jul-2002',
 '04-Jul-2003',
 '04-Jul-2007',
 '04-Jul-2009',
 '04-Jul-2010',
 '04-Jul-2015',
 '04-Jul-2016',
 '04-Jun-1832',
 '04-Jun-1930',
 '04-Jun-1942',
 '04-Jun-1960',
 '04-Jun-1962',
 '04-Jun-1966',
 '04-Jun-1996',
 '04-Jun-2005',
 '04-Jun-2016',
 '04-Jun-2017',
 '04-Jun-2018',
 '04-Mar-1929',
 '04-Mar-1936',
 '04-Mar-1956',
 '04-Mar-1981',
 '04-Mar-1989',
 '04-Mar-2012',
 '04-Mar-2016',
 '04-May-1903',
 '04-May-1944',
 '04-May-1988',
 '04-May-2001',
 '04-May-2004',
 '04-May-2006',
 '04-May-2007',
 '04-May-2011',
 '04-May-2013',
 '04-May-2014',
 '04-Nov-1845',
 '04-Nov-1920',
 '04-Nov-1928',
 '04-Nov-1963',
 '04-Nov-1967',
 '04-Nov-1968',
 '04-Nov-1984',
 '04-Nov-1986',
 '04-Nov-2000',
 '04-Nov-2007',
 '04-Nov-2012',
 '04-Nov-2017',
 '04-Oct-1849',
 '04-Oct-1903',
 '04-Oct-1921',
 '04-Oct-1939',
 '04-Oct-1950',
 '04-Oct-1959',
 '04-Oct-1964',
 '04-Oct-1997',
 '04-Oct-1998',
 '04-Oct-2015',
 '04-Sep-1925',
 '04-Sep-1936',
 '04-Sep-1954',
 '04-Sep-1955',
 '04-Sep-1983',
 '04-Sep-1999',
 '04-Sep-2004',
 '04-Sep-2005',
 '04-Sep-2007',
 '04-Sep-2011',
 '04-Sep-2012',
 '04-Sep-2015',
 '04-Sep-2016',
 '05 May 1979',
 '05-Apr-1958',
 '05-Apr-1959',
 '05-Apr-1962',
 '05-Apr-1975',
 '05-Apr-2001',
 '05-Apr-2004',
 '05-Apr-2017',
 '05-Apr-2018',
 '05-Aug-1929',
 '05-Aug-1934',
 '05-Aug-1952',
 '05-Aug-1974',
 '05-Aug-1978',
 '05-Aug-1979',
 '05-Aug-1997',
 '05-Aug-1999',
 '05-Aug-2001',
 '05-Aug-2002',
 '05-Aug-2014',
 '05-Aug-2017',
 '05-Dec-1909',
 '05-Dec-1922',
 '05-Dec-1948',
 '05-Dec-1971',
 '05-Dec-2000',
 '05-Dec-2009',
 '05-Dec-2010',
 '05-Dec-2012',
 '05-Dec-2013',
 '05-Feb-1907',
 '05-Feb-1945',
 '05-Feb-1955',
 '05-Feb-1957',
 '05-Feb-1962',
 '05-Feb-1964',
 '05-Feb-1990',
 '05-Feb-1996',
 '05-Feb-2015',
 '05-Feb-2016',
 '05-Jan-1919',
 '05-Jan-1929',
 '05-Jan-1946',
 '05-Jan-1947',
 '05-Jan-1956',
 '05-Jan-1957',
 '05-Jan-1961',
 '05-Jan-1966',
 '05-Jan-1980',
 '05-Jan-1984',
 '05-Jan-1993',
 '05-Jan-2000',
 '05-Jan-2010',
 '05-Jan-2013',
 '05-Jan-2016',
 '05-Jan-2017',
 '05-Jan-2018',
 '05-Jul-1787',
 '05-Jul-1883',
 '05-Jul-1935',
 '05-Jul-1952',
 '05-Jul-1960',
 '05-Jul-1967',
 '05-Jul-1983',
 '05-Jul-2003',
 '05-Jul-2007',
 '05-Jul-2008',
 '05-Jul-2009',
 '05-Jul-2011',
 '05-Jun-1960',
 '05-Jun-1988',
 '05-Jun-1989',
 '05-Jun-1993',
 '05-Jun-1998',
 '05-Jun-2006',
 '05-Jun-2007',
 '05-Jun-2015',
 '05-Jun-2016',
 '05-Mar-1863',
 '05-Mar-1964',
 '05-Mar-1973',
 '05-Mar-1978',
 '05-Mar-1990',
 '05-Mar-1995',
 '05-Mar-1996',
 '05-Mar-1999',
 '05-Mar-2005',
 '05-Mar-2012',
 '05-May-1857',
 '05-May-1862',
 '05-May-1981',
 '05-May-2006',
 '05-May-2017',
 '05-Nov-1958',
 '05-Nov-1964',
 '05-Nov-1969',
 '05-Nov-1985',
 '05-Nov-1992',
 '05-Nov-1998',
 '05-Nov-2009',
 '05-Oct-1938',
 '05-Oct-1958',
 '05-Oct-1959',
 '05-Oct-1986',
 '05-Oct-1991',
 '05-Oct-1994',
 '05-Oct-1996',
 '05-Oct-2002',
 '05-Oct-2003',
 '05-Oct-2006',
 '05-Oct-2011',
 '05-Oct-2014',
 '05-Oct-2015',
 '05-Oct-2017',
 '05-Sep-1881',
 '05-Sep-1900',
 '05-Sep-1908',
 '05-Sep-1970',
 '05-Sep-1971',
 '05-Sep-1990',
 '05-Sep-1994',
 '05-Sep-1999',
 '05-Sep-2002',
 '05-Sep-2005',
 '05-Sep-2007',
 '05-Sep-2015',
 '05-Sep-2016',
 '06-26-1890',
 '06-Apr-1905',
 '06-Apr-1919',
 '06-Apr-1928',
 '06-Apr-1947',
 '06-Apr-1952',
 '06-Apr-1990',
 '06-Apr-1994',
 '06-Apr-2005',
 '06-Apr-2009',
 '06-Apr-2017',
 '06-Aug-1930',
 '06-Aug-1932',
 '06-Aug-1945',
 '06-Aug-1950',
 '06-Aug-1983',
 '06-Aug-2004',
 '06-Aug-2009',
 '06-Aug-2012',
 '06-Aug-2014',
 '06-Aug-2016',
 '06-Dec-1964',
 '06-Dec-1975',
 '06-Dec-1986',
 '06-Dec-2006',
 '06-Dec-2011',
 '06-Dec-2016',
 '06-Feb-1856',
 '06-Feb-1876',
 '06-Feb-1915',
 '06-Feb-1955',
 '06-Feb-1963',
 '06-Feb-1967',
 '06-Feb-1986',
 '06-Feb-2008',
 '06-Feb-2010',
 '06-Feb-2012',
 '06-Feb-2017',
 '06-Jan-1835',
 '06-Jan-1912',
 '06-Jan-1929',
 '06-Jan-1932',
 '06-Jan-1961',
 '06-Jan-1962',
 '06-Jan-1963',
 '06-Jan-1967',
 '06-Jan-1987',
 '06-Jan-1988',
 '06-Jan-1992',
 '06-Jan-2001',
 '06-Jan-2009',
 '06-Jan-2010',
 '06-Jan-2015',
 '06-Jul-1842',
 '06-Jul-1902',
 '06-Jul-1916',
 '06-Jul-1942',
 '06-Jul-1995',
 '06-Jul-1998',
 '06-Jul-1999',
 '06-Jul-2000',
 '06-Jul-2001',
 '06-Jul-2011',
 '06-Jul-2012',
 '06-Jul-2016',
 '06-Jun-1923',
 '06-Jun-1936',
 '06-Jun-1950',
 '06-Jun-1977',
 '06-Jun-1989',
 '06-Jun-1996',
 '06-Jun-2010',
 '06-Jun-2011',
 '06-Jun-2013',
 '06-Mar-1909',
 '06-Mar-1931',
 '06-Mar-1945',
 '06-Mar-2004',
 '06-Mar-2009',
 '06-Mar-2012',
 '06-May-1886',
 '06-May-1922',
 '06-May-1972',
 '06-May-1987',
 '06-May-1990',
 '06-May-2012',
 '06-May-2014',
 '06-Nov-1892',
 '06-Nov-1939',
 '06-Nov-1960',
 '06-Nov-1968',
 '06-Nov-1992',
 '06-Nov-1994',
 '06-Nov-1999',
 '06-Nov-2000',
 '06-Nov-2003',
 '06-Nov-2007',
 '06-Nov-2008',
 '06-Oct-1954',
 '06-Oct-1976',
 '06-Oct-1987',
 '06-Oct-1988',
 '06-Oct-2000',
 '06-Oct-2004',
 '06-Oct-2005',
 '06-Oct-2007',
 '06-Oct-2008',
 '06-Oct-2013',
 '06-Sep-1897',
 '06-Sep-1945',
 '06-Sep-1958',
 '06-Sep-1967',
 '06-Sep-1969',
 '06-Sep-1976',
 '06-Sep-1996',
 '06-Sep-1997',
 '06-Sep-2008',
 '06-Sep-2012',
 '06-Sep-2014',
 '06-Sep-2015',
 '06-Sep-2016',
 '07-Apr-1926',
 '07-Apr-1953',
 '07-Apr-1957',
 '07-Apr-1962',
 '07-Apr-1964',
 '07-Apr-1968',
 '07-Apr-1990',
 '07-Apr-1996',
 '07-Apr-2004',
 '07-Apr-2005',
 '07-Apr-2016',
 '07-Aug-1852',
 '07-Aug-1967',
 '07-Aug-1981',
 '07-Aug-1984',
 '07-Aug-1995',
 '07-Aug-2002',
 '07-Aug-2007',
 '07-Aug-2010',
 '07-Aug-2016',
 '07-Dec-1919',
 '07-Dec-1941',
 '07-Dec-1970',
 '07-Dec-2007',
 '07-Dec-2011',
 '07-Feb-1808',
 '07-Feb-1904',
 '07-Feb-1960',
 '07-Feb-1962',
 '07-Feb-1975',
 '07-Feb-1981',
 '07-Feb-1982',
 '07-Feb-1986',
 '07-Feb-2002',
 '07-Feb-2008',
 '07-Feb-2009',
 '07-Feb-2014',
 '07-Jan-1931',
 '07-Jan-1934',
 '07-Jan-1940',
 '07-Jan-1946',
 '07-Jan-1952',
 '07-Jan-1960',
 '07-Jan-1962',
 '07-Jan-1974',
 '07-Jan-1978',
 '07-Jan-2004',
 '07-Jan-2006',
 '07-Jul-1914',
 '07-Jul-1916',
 '07-Jul-1936',
 '07-Jul-1955',
 '07-Jul-1961',
 '07-Jul-1962',
 '07-Jul-1981',
 '07-Jul-1989',
 '07-Jul-1991',
 '07-Jul-1993',
 '07-Jul-1995',
 '07-Jul-2000',
 '07-Jul-2009',
 '07-Jul-2011',
 '07-Jul-2012',
 '07-Jul-2016',
 '07-Jul-2017',
 '07-July-1949',
 '07-July-2012',
 '07-Jun-1899',
 '07-Jun-1962',
 '07-Jun-1991',
 '07-Jun-1997',
 '07-Jun-2005',
 '07-Jun-2006',
 '07-Jun-2008',
 '07-Jun-2014',
 '07-Jun-2015',
 '07-Mar-1907',
 '07-Mar-1925 or 27-Mar-1925',
 '07-Mar-1961',
 '07-Mar-1982',
 '07-Mar-1994',
 '07-Mar-2008',
 '07-Mar-2015',
 '07-May-1956',
 '07-May-1959',
 '07-May-1961',
 '07-May-1981',
 '07-May-1996',
 '07-May-2000',
 '07-May-2002',
 '07-May-2003',
 '07-May-2007',
 '07-May-2008',
 '07-May-2015',
 '07-Nov-1975',
 '07-Nov-1988',
 '07-Nov-2007',
 '07-Nov-2013',
 '07-Oct-1954',
 '07-Oct-1956',
 '07-Oct-1959',
 '07-Oct-2001',
 '07-Oct-2006',
 '07-Oct-2007',
 '07-Oct-2014',
 '07-Oct-2015',
 '07-Sep-1961',
 '07-Sep-1964',
 '07-Sep-1967',
 '07-Sep-1971',
 '07-Sep-1974',
 '07-Sep-2001',
 '07-Sep-2005',
 '07-Sep-2008',
 '07-Sep-2009',
 '07-Sep-2010',
 '07-Sep-2016',
 '08-Ap-1936',
 '08-Apr-1927',
 '08-Apr-1961',
 '08-Apr-1966',
 '08-Apr-1979',
 '08-Apr-1990',
 '08-Apr-2001',
 '08-Apr-2008',
 '08-Apr-2011',
 '08-Aug-1780',
 '08-Aug-1878',
 '08-Aug-1880',
 '08-Aug-1899',
 '08-Aug-1902',
 '08-Aug-1923',
 '08-Aug-1955',
 '08-Aug-1964',
 '08-Aug-1968',
 '08-Aug-1972',
 '08-Aug-2003',
 '08-Aug-2010',
 '08-Aug-2012',
 '08-Aug-2014',
 '08-Dec-1846',
 '08-Dec-1916',
 '08-Dec-1963',
 '08-Dec-1972',
 '08-Dec-2003',
 '08-Dec-2015',
 '08-Feb-1887',
 '08-Feb-1929',
 '08-Feb-1932',
 '08-Feb-1954',
 '08-Feb-1963',
 '08-Feb-2003',
 '08-Feb-2006',
 '08-Feb-2009',
 '08-Feb-2014',
 '08-Feb-2015',
 '08-Jan-1908',
 '08-Jan-1925',
 '08-Jan-1953',
 '08-Jan-1966',
 '08-Jan-1976',
 '08-Jan-1983',
 '08-Jan-1989',
 '08-Jan-1992',
 '08-Jan-2005',
 '08-Jul-1889',
 '08-Jul-1916',
 '08-Jul-1926',
 '08-Jul-1964',
 '08-Jul-1983',
 '08-Jul-1990',
 '08-Jul-1992',
 '08-Jul-1994',
 '08-Jul-2006',
 '08-Jul-2012',
 '08-Jul-2016',
 '08-Jun-1849',
 '08-Jun-1908',
 '08-Jun-1938',
 '08-Jun-1998',
 '08-Jun-2003',
 '08-Jun-2014',
 ...]

More than 50 unique values (total: 4979)


----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Unique values sorted, head and tail:

['    10-Jan-2009',
 '    15-Jun-1937',
 '    16-Jan-1970',
 '    22-Jul-2013',
 '   21-Sep-1908',
 '  03-Feb-1914',
 '  05-Oct-1985',
 '  10-Jan-1903',
 '  16-Feb-1910',
 '  19-Jul-1889']

['Summer of 1898',
 'Summer of 1903',
 'Summer of 1926',
 'Summer of 1959',
 'Summer of 1981',
 'Summer-2008',
 'Winter 1942',
 'Winter 1969',
 'Woirld War II',
 'World War II']

----------------------------------------
C: Casting to type: string
----------------------------------------
Casting to string was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

1957           9
1942           9
1956           8
1941           7
1958           7
              ..
30-Jun-1995    1
24-Jun-1995    1
23-Jun-1995    1
16-Jun-1995    1
1845-1853      1
Name: Date, Length: 4979, dtype: int64

In [9]:
# Check Year column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Year', 'float64')

replace_value(shark_attacks, 'Year', np.nan, 0.0)
shark_attacks['Year'] = shark_attacks['Year'].astype(int)

replace_value(shark_attacks, 'Year', 0, None)

********************************************************************************
Finding non-default missing values for column 'Year'
********************************************************************************
Column 'Year' has datatype: float64


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 244)
Values are sorted

[0.0,
 5.0,
 77.0,
 500.0,
 1543.0,
 1554.0,
 1555.0,
 1580.0,
 1595.0,
 1617.0,
 1637.0,
 1638.0,
 1642.0,
 1700.0,
 1703.0,
 1721.0,
 1723.0,
 1738.0,
 1742.0,
 1748.0,
 1749.0,
 1751.0,
 1753.0,
 1755.0,
 1758.0,
 1764.0,
 1771.0,
 1776.0,
 1779.0,
 1780.0,
 1783.0,
 1784.0,
 1785.0,
 1786.0,
 1787.0,
 1788.0,
 1791.0,
 1792.0,
 1797.0,
 1800.0,
 1801.0,
 1802.0,
 1803.0,
 1804.0,
 1807.0,
 1808.0,
 1810.0,
 1811.0,
 1812.0,
 1815.0,
 1816.0,
 1817.0,
 1822.0,
 1825.0,
 1826.0,
 1827.0,
 1828.0,
 1829.0,
 1830.0,
 1831.0,
 1832.0,
 1834.0,
 1835.0,
 1836.0,
 1837.0,
 1839.0,
 1840.0,
 1841.0,
 1842.0,
 1844.0,
 1845.0,
 1846.0,
 1847.0,
 1848.0,
 1849.0,
 1850.0,
 1851.0,
 1852.0,
 1853.0,
 1855.0,
 1856.0,
 1857.0,
 1858.0,
 1859.0,
 1860.0,
 1861.0,
 1862.0,
 1863.0,
 1864.0,
 1865.0,
 1866.0,
 1867.0,
 1868.0,
 1869.0,
 1870.0,
 1871.0,
 1872.0,
 1873.0,
 1874.0,
 1875.0,
 1876.0,
 1877.0,
 1878.0,
 1879.0,
 1880.0,
 1881.0,
 1882.0,
 1883.0,
 1884.0,
 1885.0,
 1886.0,
 1887.0,
 1888.0,
 1889.0,
 1890.0,
 1891.0,
 1892.0,
 1893.0,
 1894.0,
 1895.0,
 1896.0,
 1897.0,
 1898.0,
 1899.0,
 1900.0,
 1901.0,
 1902.0,
 1903.0,
 1904.0,
 1905.0,
 1906.0,
 1907.0,
 1908.0,
 1909.0,
 1910.0,
 1911.0,
 1912.0,
 1913.0,
 1914.0,
 1915.0,
 1916.0,
 1917.0,
 1918.0,
 1919.0,
 1920.0,
 1921.0,
 1922.0,
 1923.0,
 1924.0,
 1925.0,
 1926.0,
 1927.0,
 1928.0,
 1929.0,
 1930.0,
 1931.0,
 1932.0,
 1933.0,
 1934.0,
 1935.0,
 1936.0,
 1937.0,
 1938.0,
 1939.0,
 1940.0,
 1941.0,
 1942.0,
 1943.0,
 1944.0,
 1945.0,
 1946.0,
 1947.0,
 1948.0,
 1949.0,
 1950.0,
 1951.0,
 1952.0,
 1953.0,
 1954.0,
 1955.0,
 1956.0,
 1957.0,
 1958.0,
 1959.0,
 1960.0,
 1961.0,
 1962.0,
 1963.0,
 1964.0,
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 nan]

More than 50 unique values (total: 244)


----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Unique values sorted, head and tail:

[0.0, 5.0, 77.0, 500.0, 1543.0, 1554.0, 1555.0, 1580.0, 1595.0, 1617.0]

[2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, nan]

----------------------------------------
C: Casting to type: float64
----------------------------------------
Casting to float64 was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

2015.0    130
0.0       123
2017.0    122
2016.0    121
2014.0    118
         ...
1787.0      1
1786.0      1
1785.0      1
1784.0      1
NaN         1
Name: Year, Length: 244, dtype: int64

In [10]:
# Check Type column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Type', 'string')

replace_value(shark_attacks, 'Type', np.nan, None)

********************************************************************************
Finding non-default missing values for column 'Type'
********************************************************************************
Column 'Type' has datatype: object


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 8)
Could not sort values

['Boating',
 'Unprovoked',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 nan,
 'Boat',
 'Boatomg']

----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Could not sort values: '<' not supported between instances of 'float' and 'str'
..so let's try filtering NULL values and then sorting

['Boat',
 'Boating',
 'Boatomg',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Unprovoked']

['Boat',
 'Boating',
 'Boatomg',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Unprovoked']

----------------------------------------
C: Casting to type: string
----------------------------------------
Casting to string was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

Unprovoked      4595
Provoked         574
Sea Disaster     239
Boating          203
Boat             137
NaN                4
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [11]:
# Check Country column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Country', 'string')

replace_value(shark_attacks, 'Country', np.nan, None)

********************************************************************************
Finding non-default missing values for column 'Country'
********************************************************************************
Column 'Country' has datatype: object


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 205)
Could not sort values

['USA',
 'AUSTRALIA',
 'MEXICO',
 'BRAZIL',
 'SOUTH AFRICA',
 'THAILAND',
 'COSTA RICA',
 'MALDIVES',
 'BAHAMAS',
 'NEW CALEDONIA',
 'ECUADOR',
 'MALAYSIA',
 'LIBYA',
 nan,
 'CUBA',
 'MAURITIUS',
 'NEW ZEALAND',
 'SPAIN',
 'SAMOA',
 'SOLOMON ISLANDS',
 'JAPAN',
 'EGYPT',
 'ST HELENA, British overseas territory',
 'REUNION',
 'FRENCH POLYNESIA',
 'UNITED KINGDOM',
 'UNITED ARAB EMIRATES',
 'PHILIPPINES',
 'INDONESIA',
 'CHINA',
 'COLUMBIA',
 'Fiji',
 'DOMINICAN REPUBLIC',
 'ARUBA',
 'MOZAMBIQUE',
 'FIJI',
 'PUERTO RICO',
 'ATLANTIC OCEAN',
 'GREECE',
 'ST. MARTIN',
 'FRANCE',
 'PAPUA NEW GUINEA',
 'TRINIDAD & TOBAGO',
 'KIRIBATI',
 'ISRAEL',
 'DIEGO GARCIA',
 'TAIWAN',
 'PALESTINIAN TERRITORIES',
 'GUAM',
 'SEYCHELLES',
 'BELIZE',
 'JAMAICA',
 'NIGERIA',
 'TONGA',
 'SCOTLAND',
 'ITALY',
 'CHILE',
 'KENYA',
 'RUSSIA',
 'TURKS & CAICOS',
 'AZORES',
 'SOUTH KOREA',
 'MALTA',
 'VIETNAM',
 'MADAGASCAR',
 'UNITED ARAB EMIRATES (UAE)',
 'PANAMA',
 'SOMALIA',
 'CROATIA',
 'ENGLAND',
 'NORWAY',
 'YEMEN',
 'GULF OF ADEN',
 'Sierra Leone',
 'ST. MAARTIN',
 'GRAND CAYMAN',
 'VANUATU',
 'MEXICO ',
 'VENEZUELA',
 ' TONGA',
 'URUGUAY',
 'INDIA',
 'MICRONESIA',
 'CARIBBEAN SEA',
 'CANADA',
 'OKINAWA',
 'TANZANIA',
 'MARSHALL ISLANDS',
 'SENEGAL',
 'EGYPT / ISRAEL',
 'NORTHERN ARABIAN SEA',
 'HONG KONG',
 'EL SALVADOR',
 'ANGOLA',
 'IRAN',
 'TUNISIA',
 'NAMIBIA',
 'BERMUDA',
 'NORTH ATLANTIC OCEAN',
 'SOUTH CHINA SEA',
 'BANGLADESH',
 'PALAU',
 'WESTERN SAMOA',
 'PACIFIC OCEAN ',
 'BRITISH ISLES',
 'GRENADA',
 'SRI LANKA',
 'IRAQ',
 'TURKEY',
 'SINGAPORE',
 'NEW BRITAIN',
 'SUDAN',
 'JOHNSTON ISLAND',
 'SOUTH PACIFIC OCEAN',
 'NEW GUINEA',
 'RED SEA',
 'NORTH PACIFIC OCEAN',
 'FEDERATED STATES OF MICRONESIA',
 'MID ATLANTIC OCEAN',
 'ADMIRALTY ISLANDS',
 'BRITISH WEST INDIES',
 'SOUTH ATLANTIC OCEAN',
 'PERSIAN GULF',
 'RED SEA / INDIAN OCEAN',
 'PACIFIC OCEAN',
 'NORTH SEA',
 'NICARAGUA ',
 'MALDIVE ISLANDS',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'GABON',
 'MAYOTTE',
 'PORTUGAL',
 'NORTH ATLANTIC OCEAN ',
 'MONTENEGRO',
 'THE BALKANS',
 'SUDAN?',
 'ARGENTINA',
 'MARTINIQUE',
 'INDIAN OCEAN',
 'NETHERLANDS ANTILLES',
 'LIBERIA',
 'SAUDI ARABIA',
 'NORTHERN MARIANA ISLANDS',
 'IRAN / IRAQ',
 'JAVA',
 'SIERRA LEONE',
 ' PHILIPPINES',
 'NICARAGUA',
 'CENTRAL PACIFIC',
 'SOLOMON ISLANDS / VANUATU',
 'SOUTHWEST PACIFIC OCEAN',
 'BAY OF BENGAL',
 'MID-PACIFC OCEAN',
 'SLOVENIA',
 'CURACAO',
 'ICELAND',
 'BARBADOS',
 'CAPE VERDE',
 'HONDURAS',
 'MONACO',
 'GUYANA',
 'HAITI',
 'SAN DOMINGO',
 'IRELAND',
 'KUWAIT',
 'YEMEN ',
 'REUNION ISLAND',
 'FALKLAND ISLANDS',
 'CRETE',
 'CYPRUS',
 'EGYPT ',
 'WEST INDIES',
 'BURMA',
 'LEBANON',
 'PARAGUAY',
 'BRITISH NEW GUINEA',
 'CEYLON',
 'OCEAN',
 'GEORGIA',
 'TUVALU',
 'INDIAN OCEAN?',
 'GUINEA',
 'ANDAMAN ISLANDS',
 'EQUATORIAL GUINEA / CAMEROON',
 'COOK ISLANDS',
 'TOBAGO',
 'PERU',
 'AFRICA',
 'ALGERIA',
 'Coast of AFRICA',
 'TASMAN SEA',
 'GHANA',
 'ANTIGUA',
 'GREENLAND',
 'MEDITERRANEAN SEA',
 'SWEDEN',
 'ROATAN',
 'Between PORTUGAL & INDIA',
 'DJIBOUTI',
 'BAHREIN',
 'KOREA',
 'RED SEA?',
 'ASIA?',
 'CEYLON (SRI LANKA)']

----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Could not sort values: '<' not supported between instances of 'float' and 'str'
..so let's try filtering NULL values and then sorting

[' PHILIPPINES',
 ' TONGA',
 'ADMIRALTY ISLANDS',
 'AFRICA',
 'ALGERIA',
 'AMERICAN SAMOA',
 'ANDAMAN / NICOBAR ISLANDAS',
 'ANDAMAN ISLANDS',
 'ANGOLA',
 'ANTIGUA']

['UNITED KINGDOM',
 'URUGUAY',
 'USA',
 'VANUATU',
 'VENEZUELA',
 'VIETNAM',
 'WEST INDIES',
 'WESTERN SAMOA',
 'YEMEN',
 'YEMEN ']

----------------------------------------
C: Casting to type: string
----------------------------------------
Casting to string was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

USA                       2036
AUSTRALIA                 1219
SOUTH AFRICA               514
PAPUA NEW GUINEA           132
NEW ZEALAND                116
                          ...
MALDIVE ISLANDS              1
NICARAGUA                    1
NORTH SEA                    1
RED SEA / INDIAN OCEAN       1
CEYLON (SRI LANKA)           1
Name: Country, Length: 205, dtype: int64

In [12]:
# Check Area column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Area', 'string')

replace_value(shark_attacks, 'Area', np.nan, None)

********************************************************************************
Finding non-default missing values for column 'Area'
********************************************************************************
Column 'Area' has datatype: object


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 772)
Could not sort values

['California',
 'Georgia',
 'New South Wales',
 'Colima',
 'Pernambuco',
 'Florida',
 'Queensland',
 'South Carolina',
 'Westerm Australia',
 'Eastern Cape Province',
 'Hua Hin',
 'Cocos Island',
 'Western Australia',
 'Alifu Alifu Atoll',
 'Western Cape Province',
 'Hawaii',
 'New Providence',
 nan,
 'Victoria',
 'KwaZulu-Natal',
 'Galapagos Islands',
 'Fernando de Noronha',
 'Sepang',
 'Holquin Province',
 'Pamplemousses ',
 'South Australia',
 'North Island',
 'Canary Islands',
 ' Upolu Island',
 'Shizuoka Prefecture',
 'Texas',
 'Massachusetts',
 'Red Sea Protectorate',
 'New Providence District',
 '40 miles off Grand Bahama Island',
 'Ascension Island',
 'New Jersey',
 'Majorca',
 'Washington',
 'Tabasco',
 'Ibiza Island',
 'Marquesas',
 'South Devon',
 'New Providence ',
 'Sharjah, ',
 'Baja California Sur',
 'Saint-Leu',
 'South Island',
 'Luzon Island',
 'Great Exuma',
 'Saint-Andre',
 'Bimini',
 'Bali',
 'Tuamotos',
 'Oregon',
 'North Province',
 'New Providence Island',
 'Alicante Province',
 'Hong Kong',
 'Kochi Prefecture',
 'Tasmania',
 'Abaco Islands',
 'Alabama',
 'North Carolina',
 'Isla Provedencia',
 'Suez',
 'Grand Terre',
 'Vanua Levu',
 'Santa Catarina State',
 'South Province',
 'Altagracia Province',
 'BalneÃ¡rio CamboriÃº',
 'Fujairah Emirate',
 'Grand Canary Island',
 'Inhambane Province',
 'Phuket',
 'Guanacaste',
 'Grand Bahama Island',
 'Le Port',
 'Rangiroa',
 'Saint-Gilles-les-Bains',
 'Bora Bora',
 'Sinaloa',
 'Central Tuamotu',
 'd\x92Ãtang-SalÃ©',
 'Granada',
 'Cargados Carajos Shoals (St. Brandon)',
 'Moorea',
 'Catalonia',
 'Maryland',
 'Alicante',
 'Louisiana',
 'Delaware',
 'Atsumi peninsula',
 'Palmyra Atoll',
 'Wallis and Futuna',
 'Baie de Sainte-Marie',
 'Society Islands',
 'Trinidad',
 'Okinawa Prefecture',
 '740 miles SE of Tarawa Atoll',
 'Southern District',
 'Bay of Biscay',
 'Quintana Roo',
 'Exuma Islands',
 'Saint-Paul',
 'Taitung ',
 'Santa Cruz Island',
 'Saint-Gilles',
 'Tuamotus',
 'Eleuthera',
 'St. Catherine',
 'Palawan',
 'Kingston Parish',
 'Mercury Islands',
 'Delta',
 "Vava'u",
 'Inner Hebrides',
 'Saint Leu',
 'Trois-Bassins',
 'Sardinia',
 'Guerrero',
 'Saint-Benoit',
 'Antofagasta Province',
 'Santa Elena',
 'East New Britain',
 'Bois-Blanc ',
 'Moray',
 'SamanÃ¡ Province',
 'Coast Province',
 'Central Province',
 'Primorsky Krai',
 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)',
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)',
 'Puerto Rico',
 'Praslin',
 'Sucre',
 'Middle Caicos',
 'Caicos Bank',
 'Cornwall',
 'San AndrÃ©s archipelago',
 'Kedah',
 'Vitu Levu',
 ' Loyalty Islands',
 'Saint Gilles ',
 'West End',
 'South Sinai Peninsula',
 'Maine',
 'Virginia',
 "Ha'api ",
 'Western Province',
 'Jeju Province',
 'New York',
 'Binh Dinh Province',
 'Antsiranana Province',
 'Sinai Peninsula',
 'Off Vanua Levu',
 'Rio Grande Do Sul',
 'Dubai',
 'Torres Strait',
 'Eastern Province',
 'Eastern Cape  Province',
 'Maputo Province',
 'Bocas',
 'Fife',
 'Devon',
 'Makira-Ulawa Province',
 'Mombasa',
 'St. Johns Reef',
 'Off Green Island',
 'North Region',
 'Batangas province',
 'Strait of Malacca',
 'Guantanamo Province',
 'Red Sea',
 'Batanes Provine',
 'Luzon',
 'Northern Territory',
 ' Split-Dalmatia Count,',
 'North Devon',
 'US Virgin Islands',
 'San Carlos',
 'Cabo San Lucas',
 'Sussex',
 'Bahia',
 'Easter Ross',
 'Guerro',
 'Yasawa Islands',
 'Northern Bahamas',
 'Tokyo Bay',
 'Baja California',
 'Loyalty Islands',
 'Marovo Lagoon',
 'Territory of Cocos (Keeling) Islands',
 'Oslo Fjord',
 'Kent',
 'Bird Island',
 'Providenciales',
 'Bimini Islands',
 'Muhafazat Hadramawt',
 'Cook islans',
 'Surigao del Norte',
 'Between Somalia & Yemen',
 'Saint-Pierre',
 'Kentucky',
 'Andros Islands',
 'Guam',
 'Western Area',
 '300 miles from Antigua',
 '800 miles from land',
 '600 nm west of the Canary Islands',
 'Simpson Bay',
 'East Wall',
 'Shanghai',
 'Malampa Province',
 "South Ch'ungch'ong Province",
 'New Mexico',
 'Santa Isabel Province',
 'Santiago de Cuba Province',
 'Camaguey Province',
 'ConservatÃ³ria District',
 'South Carolina ',
 'Kuril Islands in the Pacific',
 'Wakayama Prefecture',
 "Nuku'alofa",
 'Saint-BenoÃ®t',
 'South Island, near Karitane north of Dunedin',
 'Rocha',
 'Anzoategui',
 'Cook Islands',
 'Tamil Nadu',
 'Pearl Islands',
 'Taveuni',
 'Johnston Atoll',
 'Baatan',
 'Rio de Janeiro',
 'Nueva Esparta',
 'Southland',
 'North Pacific coast',
 'Caroline Islands',
 'Cheshire',
 'Louisiade Archipelago',
 'KwaZulu-Natal between Port Edward and Port St Johns',
 'Milne Bay Province',
 'Cikobia Island (north of Vanua Levu)',
 'Rayong Province',
 'Zamboanga del Sur Province',
 'Rio Grande de Norte',
 'New Brunswick',
 'Miyako Island',
 'Alaska',
 'Minerva Reef',
 'Madang Province',
 'Worcestershire',
 'Phang nga Province',
 'Alinglaplap Atoll',
 'Adriatic Sea',
 'Ralik Chain',
 'Grand Baie',
 "L' Etang SalÃ©-les-Bains",
 'Southern Japan',
 'Cap Vert Peninsula',
 'Berry Islands',
 'Transvaal',
 'Gaza',
 "Grand'Anse",
 'Beaufonds',
 'Miyako',
 "L'Etang-Sale",
 'Chatham Islands ',
 'South Sinai, Gulf of Aqaba',
 'Cat Cay',
 'Missouri',
 '12 miles off the north coast',
 'Saint-Paul ',
 'Chatham Islands, east of New  Zealand',
 'Saint-Denis',
 'Vava\x92u',
 'Mississippi',
 'Clearwater Bay',
 'New Territories',
 'Aichi Prefecture',
 'MaranhÃ£o',
 'Tafea Province',
 'Kagoshima Prefecture',
 'Saint-Joseph',
 'Banaadir Region',
 'La Libertad',
 'Costa Blanca',
 'Walkers Cay',
 'On the Kowloon penisula, south of Sai Kung',
 'Ehime Prefecture',
 'Tongapatu Group',
 'West Africa',
 'Wakaya Island',
 'Mexico / Caribbean Sea',
 'Antarctic Ocean',
 'La Saline-les-Bains',
 'Tavenui',
 'Ligurian Sea',
 "L'Etang-SalÃ©",
 'Kowloon Peninsula',
 'Port Shelter',
 'Laucala Island',
 'Sainte-Marie',
 'Great Exuma Island',
 'Sainte-Suzanne',
 'Tuscany',
 'Tyrrhenian Sea',
 'New Ireland',
 'Valpariso Province',
 'Viscayan Sea',
 'Manfredonia ',
 'Tokyo Prefecture',
 'Saint-Louis',
 'Mindoro',
 'Between DR and Puerto Rico',
 'Between Honiara & Isabel Island',
 'Florida Straits',
 'Gulf of Lyons',
 'CÃ¡diz',
 'Sicily',
 'Central Philippines',
 'Rhode Island',
 'English Channel',
 'North & South Carolina',
 'Kumamoto Prefecture',
 'Biserta',
 'Saint-Philippe',
 'Chungnam',
 'Eronogo Region',
 'Coquimbo',
 'Pagasitikos Gulf',
 "St. Mary's Parish",
 'Romblon Province',
 'Lamu Archipelago',
 'Los Vilos',
 "Ha'api",
 'Ho Ha Wan Marine Park',
 'Southern Thailand',
 'Ralik Archipelago',
 'South China Sea 200 miles from Hong Kong',
 'Reggio Calabria Province',
 'Mirs Bay ',
 'Ganges-Brahmaputra delta',
 ' Split-Dalmatia County',
 'Florida ',
 'Primorje-Gorski Kotar County ',
 'Aulong Island',
 'Western Caroline Islands',
 'Upolu Island',
 'Antibes',
 'Illeginni Atoll',
 'Istria County',
 'Between Beira & Maputo',
 'Khuzestan Province',
 'Inhambe Province',
 'Namonuito Atoll',
 'Eastern Caroline Islands',
 'Western Caroline Islands (North Pacific Ocean)',
 'St. Andrew Parish',
 '200 nm southeast of Manila',
 'Limpopo River',
 'New Ireland Province',
 'Zadar County',
 'Basrah',
 'Clarendon',
 'Moro Gulf',
 'Johor',
 'Magdalena Department',
 'Gulf Province',
 'Morobe Province',
 'LimÃ³n Province',
 'Rombion Province',
 'Veracruz',
 'Brindisi Province',
 'Kagawa Prefecture',
 'Liguria',
 'Hamilton',
 'Out Islands',
 'Mugla Province',
 'Gibraltar',
 'New Britain',
 'Bay of Maputo',
 'Duke of York Islands',
 'Taranto province',
 'Northern Taiwan',
 'Admiralty Islands, Manus Province',
 'North Sumatra',
 "250 miles southwest of O'ahu, Hawaii",
 'West coast',
 'East Sepik',
 'Near Bougainville (North Solomons)',
 'East of the Gulf of Aqaba',
 'Bougainville (North Solomons)',
 'Victoria ',
 'Okayama Prefecture',
 'San Blas',
 'Lau Group',
 'Caribbean Coast',
 'Vita Levu',
 'San Blas Islands',
 'Puntarenas Province',
 'Lomaloma, Lau',
 'South Coast, East New Britain',
 ' Lau Province',
 'Ysabel Island',
 'Santo Domingo',
 'San Blas coast',
 'Thessaly',
 'Lomaiviti  Island Group',
 'Rodrigues',
 'Manus Island',
 'Pinas Bay',
 'Grand Turk Island',
 'Off coast of West Africa',
 'Sharon',
 'Antalya Province',
 'Northern District',
 'New Ireland Province, Bismarck Archipelago',
 'Viti Levu',
 'Off the Coromandel Peninsula, North Island',
 'Madang',
 'Guadalcanal Province',
 '10ÂºS, 142ÂºE',
 'Kwajalein Atoll',
 'East Flores',
 'Western Luzon Island',
 'Shefa Province',
 '165  miles from Bermuda',
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf',
 'Venice Province',
 'Sandaun Province',
 'Anatolia',
 'East New Britain Province',
 'United Arab Emirates',
 'Wake Island (EnenKio)',
 '19S, 178?E',
 'Pennsylvania',
 '9.35N 79.35W',
 'Roncador Bank',
 'Western District',
 'Enroute from Suez to Aden (Yemen)',
 '180 miles southeast of Okinawa',
 'Cap-Vert Peninsula',
 'Connecticut',
 'In the English Channel ',
 'Cook Strait',
 'Unknown, treated at Wick, SCOTLAND',
 'Corregidor Island',
 'Paget',
 'Casamance',
 'Madang (WO)',
 'Between Timor & Darwin, Australia',
 'Pacific coast',
 'St. Georges ',
 'Eastern  Province',
 'Northwest of Viti Levu',
 'West New Britain Province',
 'Rigo subdistrict',
 'Masbate',
 '400 miles southeast of Sri Lanka',
 'Lomaiviti Province',
 'Kadavu',
 'Leyte Island',
 'Orissa',
 'Guerrrero',
 'Queaon',
 'Istria',
 'PANAMA',
 'In the Gulf Stream ',
 'Mersin Province',
 'Guyamas',
 'Between England & South Africa',
 'Mindanao',
 ' Kikori River mouth',
 'South Chungcheong Province',
 'Ahirkapi coast',
 'Tutuila Island',
 'Primorje-Gorski Kotar County',
 'Between Hawaii & Wake Island',
 'Taipei Hsien',
 'South Pacific Ocean',
 'Canal Zone',
 '1,000 miles east of Hawaii',
 'Honiara',
 'Eniwetok Atoll',
 'Havana Province',
 'Karun River',
 'Abau Subdistrict,Central Province',
 'New Britain, Bismarck Archipelago',
 'Estuaire Province',
 'Near Dakar, Cap Vert Peninsula',
 'Near the Andaman & Nicobar Islands',
 'Mozambique Channel',
 'Tyrrenian Sea',
 'Congreve Channel',
 'St. Thomas Bay',
 'Madeira',
 'Between Comores & Madagascar',
 'Corfu Island',
 '1000 miles west of Hawaii',
 'Izo Islands',
 ' Primorje-Gorski Kotar County',
 'Open sea',
 'Aden',
 'New Ireland, Bismarck Archipelago',
 '18S / 50E',
 'Isles del Rosario',
 'Wake Island',
 'Isle of Man',
 'Liguaria',
 'Slovenia',
 'South shore ',
 'Buenos Aires Province',
 '330 to 350 miles east of Wake Island',
 'Nova Scotia',
 'Gulf of Panama',
 'Genoa  Province',
 'Abau Sub District, Central Province',
 'Teramo',
 'Red Sea State',
 'Curacao',
 'Port Louis Province',
 'Montserrado',
 'Bay of Maputu',
 'Salerno',
 'Salerno Province',
 'Taranto',
 'Caribbean Sea',
 'Naples Province',
 ' La Libertad',
 'Sago Prefecture',
 'Savona',
 'Southern Province',
 'Jakarta Harbour',
 'Singapore Harbor',
 'Calabria',
 'Shatt-el-Arab River',
 'Shatt-al-Arab River',
 'Tamaulipas',
 'Calvados Archipelago',
 'Shat-Al-Arab River',
 'Between Kwajalein Atoll & Johnston Island',
 'Attica',
 'Adana Province',
 'Bandar Ma\x92shur sea inlet',
 'Saipan',
 'Kwajalein',
 'Dar-es-Salaam ',
 '"Head of the Gulf"',
 'Ryukyu',
 ' North Carolina',
 'In transit between Tinian and Leyte',
 'Northern Java',
 'Tel Aviv',
 'Colon Province',
 '300 miles east of Luzon',
 'Bernardino Strait near Gulf of Leyte',
 'Off Samar Island in the Gulf of Leyte',
 'Lake Nicaragua (fresh water)',
 'Pacific Ocean',
 'Near the Fiji Islands',
 '40 miles south of Naples ',
 'Northwest of Papua New Guinea',
 'Between Hawaii and U.S.A.',
 'Off South American coast',
 'Makora-Ulawa Province',
 '04.05N-13.23W',
 'Midway Atoll',
 '300 miles east of St. Thomas (Virgin Islands)',
 'East Java',
 'Camiguin Island',
 'Cay Sal Bank',
 '(Southwestern Pacific)',
 'Panama City',
 'Off Libya',
 'North of Pernambuco, Brazil',
 'Off coast of Ecuador',
 'Trelawney Province',
 'In Convoy OB 274',
 'New Georgia',
 'Panama Bay (Pacific Ocean)',
 'Bwagaoia',
 'Western Papuan Gulf',
 'Torres Strait ',
 'Carabobo',
 'Ascension Bay',
 'North China',
 'Lower San Juan River',
 'Nicoya Peninsula',
 'Basrah City',
 'West Bengal',
 'Queensland ',
 'Argyllshire',
 'Arran',
 'Argyll',
 'Fishing Grounds',
 'Newfoundland',
 'Makira-Uluwa Province',
 'Northern (Oro) Province',
 'Elqui Province',
 'Istanbul',
 'St Michael Parish',
 'Barlavento Islands',
 'Viti Levu Island',
 'Bay of Fundy',
 'Manila',
 'French Southern Territories',
 'Niua ',
 'Black River',
 'Phoenix Islands',
 'Cienfuegos Province',
 'Valencia',
 'Near Puntarenas',
 'Porto Seguro',
 'Salinas Bay',
 'Golfo di Genova in the Ligurian Sea',
 'South of the Equator ',
 'Bay of Monaco',
 'Valencia ',
 'Isle of Wight',
 'Vancouver',
 '2 to 3 miles off Taboguilla Island, Pacific Ocean',
 'Dorset',
 '150 miles offshore',
 'Galica',
 'Demerara County',
 'Vera Cruz',
 ' Manila Bay',
 'Lucy',
 'East Yorkshire',
 'Westmoreland Parish',
 'Cape Haitien',
 'Leyte',
 'Halifax',
 'Turtle Bogue',
 '60 miles north of San Domingo in the West Indies',
 'Colon',
 'Off Ireland',
 'Mediterranean Sea',
 'Gran Canaria',
 'Apolima Strait',
 'Essequibo',
 'Lagos ',
 '5aint-Denis',
 'Viti Levu group',
 'Balearics',
 'MÃ¡laga ',
 'Chatham Islands',
 'Georges Bank',
 'Zambesi River',
 'ColÃ³n Province',
 '30 nm from Singapore',
 'Andalucia',
 'Sfax',
 'South Atlantic Ocean',
 'Galicia',
 'Gulf of Suez',
 'Java',
 'Oaxaca',
 'Harare Province',
 'KhÃ¡nh HÃ²a Province',
 'Maluku Province',
 ' Nusa Tenggara',
 'Between Noumea & Sydney',
 'Villa Clara Province',
 'Ancona Province',
 'Quezon',
 'Rio San Juan',
 'Southern Cyprus',
 'Western Viscayas',
 'Mindoro Occidental',
 'Imperia Province',
 'Muala',
 'East coast',
 'Ratak ',
 'Socotra Islands',
 'Off Cape Haitien',
 'Moluccas',
 'Bocas del Toro',
 'Provence',
 'Bay of Campeche',
 'Rangoon',
 'Bay of Bengal',
 'Bayelsa State',
 'South Island?',
 'Norfolk Island',
 'Line Islands',
 'Woodlark Islands',
 'Munxar Reef',
 'Between Perth & Colombo',
 'Gujarat',
 'CortÃ©s',
 'Gulf of California',
 'Alagoas',
 'Somewhere between Philadelphia and Hiogo, Japan',
 ' New Jersey',
 "CÃ´te d'Azur  ",
 'Maldonado coast',
 'Western Banks',
 'Andaman Islands',
 'Off the coast of West Africa',
 'Misamis Oriental',
 'Strait of Messina',
 'Hoogly River',
 'Cyclades archipelago',
 'Mount Lebanon',
 'Between Hastings & Fairlight, Sussex',
 'Veracruz ',
 'Gilbert Islands',
 'Off the coast of South America',
 '22ÂºN, 88ÂºE',
 'Matanzas Province (north coast)',
 'Alpes Maritime',
 'Edinburgh',
 'Eastern Catalona',
 '300 miles east of Mauritius',
 'Foveaux Strait',
 'Sumatra',
 'Conakry Region',
 'Corfu',
 'Malaga',
 'Bonin Islands',
 'Fernando Po Island',
 'Mangaia Island',
 'Corfu ',
 'Between Australia & USA',
 'Tongatapu',
 'Norfolk',
 'Island of St. Thomas',
 'Cumberland',
 'Sanma Province',
 "35Âº39 : 165Âº8'",
 'CUBA',
 'Western Area ',
 'Paraiba',
 'Cape Coast',
 'Rivers State',
 'Maharashtra',
 'St. Anne',
 'St Helena',
 'Skagerrak arm of the North Sea',
 'Las Perlas archipelago',
 'Southwest coast',
 "CÃ´te d'Azur ",
 'New York ',
 'Kerala',
 'Nice & Marseilles',
 'Magarita or Cubagua Islands',
 'Ionian Sea',
 'Piraeus',
 'Off Thessaly',
 'Bocas del Toro Province',
 'Rocha ',
 'Gulf of Tadjoura',
 'Cyrenaica',
 'Northern Province',
 'Los Roques  Islands',
 'Dodecanese Islands',
 'Malaita Province',
 'South Korea',
 'Island of Volos',
 'Amirante Islands',
 'Kadavu Island Group',
 'Toamasina Province',
 'Riau Province',
 'Bikini Atoll',
 'Between New Ireland & New Britain',
 'Ba Ria-Vung Tau  Province',
 'Moala Island',
 'North Carolina ']

----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Could not sort values: '<' not supported between instances of 'float' and 'str'
..so let's try filtering NULL values and then sorting

[' Kikori River mouth',
 ' La Libertad',
 ' Lau Province',
 ' Loyalty Islands',
 ' Manila Bay',
 ' New Jersey',
 ' North Carolina',
 ' Nusa Tenggara',
 ' Primorje-Gorski Kotar County',
 ' Split-Dalmatia Count,']

['Western Viscayas',
 'Westmoreland Parish',
 'Woodlark Islands',
 'Worcestershire',
 'Yasawa Islands',
 'Ysabel Island',
 'Zadar County',
 'Zambesi River',
 'Zamboanga del Sur Province',
 'd\x92Ãtang-SalÃ©']

----------------------------------------
C: Casting to type: string
----------------------------------------
Casting to string was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

Florida                 970
New South Wales         436
NaN                     408
Queensland              286
Hawaii                  263
                       ...
Santa Catarina State      1
Kagawa Prefecture         1
Brindisi Province         1
Altagracia Province       1
North Carolina            1
Name: Area, Length: 772, dtype: int64

In [13]:
# Check Location column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Location', 'string')

replace_value(shark_attacks, 'Location', np.nan, None)

********************************************************************************
Finding non-default missing values for column 'Location'
********************************************************************************
Column 'Location' has datatype: object


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 3791)
Could not sort values

['Oceanside, San Diego County',
 'St. Simon Island, Glynn County',
 'Arrawarra Headland',
 'La Ticla',
 'Flat Rock, Ballina',
 'Piedade Beach, Recife',
 'Lighhouse Point Park, Ponce Inlet, Volusia County',
 'Cocoa Beach, Brevard  County',
 'Daytona Beach, Volusia County',
 'Cairns Aquarium',
 'Isle of Palms,  Charleston County',
 'Hilton Head Island, Beaufort County',
 'Dugong Bay',
 'Nahoon Beach, East London',
 'Sharpes Beach, Ballina',
 'Sai Noi Beach',
 'Manuelita',
 'Gearys Beach',
 'Lennox Head',
 'Surfers Point, Prevelly',
 'South Point, Gracetown',
 'Madoogali',
 'Robberg Beach, Plettenberg Bay',
 'Shipwreck\x92s Beach, Keoneloa Bay, Kauai',
 'Piedade',
 'Lefthanders, Margaret River Area',
 'Cobblestones, Margaret River Area',
 'Nirvana Beach',
 'Magenta Beach, Noumea',
 'Bimini',
 'St. Francis Bay',
 'Kukio Beach',
 "Waterman's Bay",
 'Lorne',
 'Winkipop',
 'Durban',
 'Little Congwong Beach, La Perouse ',
 'Westernport Bay',
 'Surf Beach, Kiama',
 'Santa Fe Island',
 'Cone Bay',
 'Nouville',
 'Lizard Island',
 'Martin Islet',
 'Conceicao Beach',
 "Hultin's Beach, Oahu",
 'Drakes Estero, Point Reyes, Marin County',
 'Bagan Lalang Beach',
 nan,
 ' Gars Garabulli',
 'Stillwater Cove, Monterey County',
 'Floridana Beach, Brevard County',
 'Avoca Beach',
 'Guardalavaca Beach',
 'Magnetic Island',
 'Birubi Point',
 'White Plains Beach, Oahu',
 'Le Goulet',
 'Juno Beach, Palm Beach County',
 'Ocean Reef Park, Singer Island, Palm Beach County',
 'Normanville',
 'Off Tapuna Beach, Auckand',
 'Lantana Beach, Palm Beach County',
 'Davidsons Beach, Kekaha, Kauai',
 'Kama\x91ole Beach Park, Maui ',
 'Hanna Park, Jacksonville, Duval County',
 'Gracetown',
 'Fort Worth',
 'Palm Beach County',
 'Gran Canaria ',
 'Ponce Inlet, Volusia County',
 'Nofoali\x92i',
 'Esperance',
 "Sam's Creek area",
 'Iluka Beach',
 'Owarigi Island',
 'Dyer Island',
 'Iwata City',
 'Marathon, Monroe County',
 'South Padre Island, Cameron County',
 'New Smyrna Beach, Volusia County',
 'Cathedral Rock',
 'Bathtub Beach ',
 'Off Tutukaka',
 'Marconi Beach, Wellfleet, Barnstable County',
 'Sea Pines Resort, Hilton Head Island, Beaufort County',
 'Marsa Ghalib',
 'Menauhant Beach, Falmouth,\nBarnstable County',
 'Between Pescadero Point & Bean Hollow Beach, San Mateo County',
 'Jacksonvlle, Duval County',
 'DeBordieu Colony, Georgetown County',
 'Rose Island',
 'English Bay',
 'Ventnor',
 'Estanys Beach, Colonia de Sant',
 'Snipes Point, Monroe County',
 'Stearns Wharf, Santa Barbara',
 'Seal Rock, Goleta Beach, Santa Barbara',
 'South Beach, Westport, Grays Harbor County',
 'Floreat Beach',
 'Santa Cruz, Santa Cruz County',
 'Haulover Beach, Miami-Dade County',
 'SÃ¡nchez Magallanes, CÃ¡rdenas',
 'Nahoon Reef, East London',
 'South Forest Beach, Hilton Head Island, Beaufort County',
 'Singer Island, Palm Beach County',
 'Burkes Beach, Hilton Head, Beaufort County',
 'Roches Noire',
 'Playa d\x92en Bossa',
 'Atuona Bay, Hiva Oa Island',
 'Point Casuarina, Bunbury',
 'Flinders, Mornington Penisula',
 'Bantham Beach',
 'Middle Sambo Reef off Boca Chica, Monroe County',
 'Athol Island',
 'Awendaw, Charleston County',
 'Off Jupiter',
 'Khor Fakkan',
 'Weipa',
 'Los Arbolitos, Cabo Pulmo',
 'San Onofre, San Diego County ',
 'Keurbooms, Plettenberg Bay',
 'Folly Beach, Charleston County',
 'Pointe au Sal',
 'Porpoise Bay, Catlins',
 'Kelpies near Wylie Bay',
 'Kekaha Beach, Kauai',
 'St. Augustine',
 'Ormond Beach, Volusia County',
 'Melbourne Beach, Brevard County',
 'Daytona, Volusia County',
 'Moreton Bay',
 'Destin, Okaloosa County',
 'The Farm',
 'Monterey Bay',
 'Villamar, Caoayan',
 'Mauds Point',
 'Falcon Bay Beach, Mandurah',
 'Eva Rock',
 'Fernando de Noronha Marine Park',
 'Eastmoor Crescent Beach',
 '16 miles off Hilton Head',
 'Boa Viagem, Recife',
 'Vero Beach, Indian River County',
 'Boot Reef, Torres Strait',
 'Clairview',
 'Jensen Beach',
 'Balian Beach',
 'Blockhouse Beach, Brevard County',
 'Avalon State Park Beach, North Hutchinson Island, St Lucie County',
 'Bundegi Sanctuary Zone, Ningaloo',
 'Keurbooms Lagoon, Plettenberg Bay',
 'Trigg Beach',
 'Takapoto Atoll',
 'Merimbula',
 'Booti Booti National Park',
 'Queenscliff',
 'Kamaole Beach Park I, Maui',
 'Mayport Naval Station Beach, Duval County',
 'Mayport Naval Station  Duval County',
 'Broken Head Beach',
 'Hooipa Beach Park, Maui',
 'Kings Beach, Caloundra',
 'Charlie Young Beach, Kihei, Maui',
 'Indian Beach, Ecola State Park, Clatsop County',
 'Lighthouse Beach, Ballina',
 'Bunkers, Humboldt Bay, Eureka, Humboldt County',
 'Thirteenth Beach',
 'Bells Beach',
 'Bunbury',
 'Ponte Vedra, St. Johns County',
 'Makaha, Oahu',
 'Koumac',
 'Kingston Plantation, Myrtle Beach, Horry County',
 'Injidup ',
 'Refugio State Beach, Santa Barbara County',
 'Boucan Canot',
 'Nassau',
 'Maui',
 'Arenales del Sol',
 'Near Albany',
 'Florida Keys, Monroe County',
 'Irino Beach',
 'Clifton Beach',
 'Green Turtle Cay',
 '20 k off The Spit, off the Gold Coast',
 '8 miles off Mobile',
 'Surfside, Orange County',
 'North Myrtle Beach, Horry County',
 'Tiger Beach',
 'Las Teresitas, Tenerife',
 'Capitola, Santa Cruz County',
 'Off Gloucester, Essec County',
 'Off Palos Verdes peninsula, Los Angeles County',
 'Palm Cove ',
 "Sullivan's Island",
 'Atlantic Beach, Emerald Isle, Carteret County',
 'Ryspunt',
 'Pelican Beach Park, Satellite Beach, Brevard County',
 'Kalapaki Beach, Kauai',
 'Coral Bay',
 'Pirates Beach, Galveston',
 'Flagler Beach, Flagler County',
 'Mindarie',
 'Ain Sokhna',
 'Kingscliff',
 ' CÃ´te-Blanche, NoumÃ©a ',
 'Falcon Beach, Mandurah',
 'Corona Del Mar, Newport, Orange County',
 'Neptune, Duval County',
 'St. Petersburg, Pinellas County',
 'Hugenot Beach , Jacksonville, Duval County',
 'Boca Raton, Palm Beach County',
 'Wailea Beach, Maui',
 'Cormandel',
 'Balian',
 'First Sun Beach, Byron Bay',
 'Makemo Atoll',
 'Off Singer Island, Palm Beach County',
 'Poe Beach',
 'Olowalu, Maui',
 'Bombo Beach',
 'Fort Myers Beach, Lee County',
 'North Cronulla Beach',
 'Vero Beach, St. Lucie County',
 'Wrights Bay',
 'Escalerio Beach BalneÃ¡rio CamboriÃº',
 'Ricaudy Reef, Noumea',
 'Yate',
 'Bavaro Beach, Punta Cana',
 'Stradbroke Island',
 'Hams Beach',
 'Estaleirinho beach',
 'Hanalei Bay, Kauai',
 'Hanalei Bay, Kauai, ',
 'Off Surfside',
 '35 miles off Fujairah',
 'Happy Valley Beach, Caloundra',
 'Heron Island',
 'Miall Island',
 'Westbrook Beach',
 'Arinaga Beach, Aguimes, Gran Canaria',
 "La'aloa Beach Park",
 'Bondi Beach',
 'Fernano de Noronha',
 'Boat capsized',
 'Lake Macquarie',
 'Off Andros Island',
 'Mpande',
 'Punta Vicente Roca, Isabella Island',
 'Playalinda Beach, Brevard County',
 'Palm Beach, Palm Beach County',
 'East Ballina',
 'Kehena Beach, Hawaii',
 'Maxixe',
 'Bald Island',
 'Malaka, Oahu',
 'Stil Bay',
 'Deerfield Beach, Broward County',
 'Nahaduga, Inhambane Bay',
 'Lanikai Beach, Kailua, Oahu',
 'Off Leffingwell Landing, San Luis Obispo County',
 'Shipyard Beach Club, Hilton Head Island, Beaufort County',
 'Leftovers, Oahu',
 'Maxixe, Inhambane Bay',
 'Pyramids Beach',
 'Pepper Park Beach, St. Lucie County',
 'Galveston',
 'Vilano Beach, St.  Johns County',
 'Russel Island, Frankland Group',
 'Horseshoe Rock, Santa Barbara County',
 'Upolu Point, North Kohala, Big Island',
 'Fernandina Beach, Amelia Island, Nassau County',
 'Gaviota State Beach, Santa Barbara County',
 'Big Talbot Island, Duval County',
 'Jacksonville Beach, Duval County',
 'North Shelly Beach',
 'El Pescador Beach, Los Angeles County',
 'Deer Creek Beach, Ventura County',
 'Hallidays Point',
 'Myrtle Beach, Horry County',
 'Karon Beach',
 'Morro Strand State Beach, San Luis Obispo County',
 'Morro Bay, San Luis Obispo County',
 'Lighthouse Beach',
 'Murrells Inlet, Georgetown County',
 'Santa Barbara County',
 'Cortes Bank',
 'Evans Head',
 'Playa Grande',
 'Tyrendarra Beach',
 'Lachan Island, Mercury Passage',
 'La Jolla, San Diego County',
 'Tyrendarra Beach near Portland',
 'St. Leu',
 "Jeffrey's Bay",
 'Huntington Beach, Orange County',
 'Port Lucaya, Freeport',
 'Off Surf City, Pender County',
 'Ocracoke, Lifeguard Beach, National Park Service, Hyde County',
 'Flat Rock, Yamba',
 'Isle of Palms County Park, Isle of Palms, Charleston County',
 'Rodanthe, Dare County',
 'Buffels Bay near Knysna',
 'Lookout Beach, Plettenberg Bay',
 'South Beach, Hunting Island State Park, Beaufort County',
 'Rottnest Island',
 'Avon, Hatteras Island, Outer Banks, Dare County',
 'Surf City',
 'St. Helena Island, Beaufort County',
 'Off Cabo Rojo',
 'Daytona Beach Shores',
 'Oak Island, Brunswick County',
 'Off San Diego',
 'Ocean Isle, Brunswick County',
 'Lori Wilson Park, Cocoa Beach, Brevard  County',
 'Fort Lauderdale',
 'Folette',
 'Avatoru Pass',
 'Kouare ',
 'Saltwater Beach',
 "Port St. John's",
 'Kanahena Cove ',
 "Resident's Beach, Marco Island",
 'Fishery Bay',
 'Belongil Beach, Byron Bay',
 'Cap Homard',
 'McKenzies Beach',
 '3 miles off Jupiter, Palm Beach County',
 'Yellow Sands Point',
 'Marsa Alam',
 'Hapuna Beach',
 'Anau',
 'Julian Rocks, Byron Bay',
 'Mazlatan',
 'Tupapati, Hikueru Atoll',
 'Ravine Mula',
 'Shelly Beach',
 'Seven Mile Beach, Byron Bay',
 'Mereweather Beach',
 "Nerang River, Surfer's  Paradise",
 'Lahaina',
 'Flat Rock',
 'Nahoon Beach',
 'Off Panama City',
 'Off Blacksmith Beach',
 'Mollymook Beach, Bannister Head',
 'Tahiti Beach, Elbow Cay',
 'Chintsa East Beach',
 'Windsor Beach, Indian River County',
 'Bherwerre Beach',
 'Three Stripes near Cheynes Beach',
 '33 nautical miles off Othonoi Island',
 'MontaÃ±a de Oro State Park, San Luis Obispo County ',
 'Paradise Beach',
 'Rudder Reef',
 'Off Motril',
 'Pyramids Beach, Port Bouvard',
 'Freo',
 'Franklin Point, San Mateo County',
 'Indian Harbor Beach, Brevard County',
 'Airplane Beach, Lahina, West Maui',
 'Moonee Beach',
 'Fort Pierce Inlet State Park, St. Lucie County',
 'North Kohala, Hawaii County',
 'Wallabi Point',
 'Kihei, Maui',
 'Kahului, Maui',
 'Leadbetter Beach, Santa Barbara County',
 'Maalaea, South Maui',
 'Castle Rock, north of Dunsborough',
 'Cherie Down Park, Brevard County',
 'Walls Beach, Vandenberg AFB, Santa Barbara County',
 'Kelpids Beach, Wylie Bay, Esperance',
 'Tiahura Lagoon',
 'Clarkes Beach, Byron Bay',
 'Katrina Cut, Dauphin Island, Mobile County',
 'Manomet Point, Plymouth, Plymouth County',
 'Fletcher Beach, Hutchinson Island, Martin County',
 'Salou',
 'Assateague National Seashore',
 'Benidorm',
 'Figure Eight Island,  New Hanover County',
 'Surfside Beach, Horry  County',
 'Apalachicola Bay ',
 'Off Masonboro Island, New Hanover County',
 'Gnaraloo',
 '3 to 4 miles west of Indian Pass, Gulf County',
 'Hallandale Beach, Broward County',
 'Lake Ponchartain off Southshore Harbor, New Orleans',
 'South of Cocoa Beach, Brevard County',
 'Table Beach, Brevard County',
 'Muizenberg',
 'Sunset Beach, Brunswick County',
 'Indialantic, Brevard County',
 'Teresita, Santa Cruz, Tenerife',
 'Paia Bay, Maui',
 'Okaloosa Island',
 'Masonboro Island, New Hanover County',
 'Manhattan Beach, Los Angeles County',
 'Oceano Dunes State Beach, San Luis Obispo County',
 'Isle of Palms, Charleston County',
 '20 miles from shore',
 'Middleton Point, Fleurieu Peninsula',
 'Horizontal Falls',
 '500 km off the coast of Pernambuco',
 'Cape Henlopen State Park, Sussex County',
 'Parsons Beach,  Fleurieu Peninsula',
 'Aichi',
 'West Beach, Galveston',
 'Seven Mile Beach, Gerroa',
 'Nerang River near Chevron Island',
 'Wallis Island',
 'The Australian Shark and Ray Centre',
 'Juan Ponce de LeÃ³n Landing, Melbourne Beach, Brevard County',
 'Elliston, Eyre Peninsula',
 'Tybee Island, Chatham County',
 'Coligny Beach, Hilton Head, Beaufort County',
 'Simonstown',
 'South Passage, south of Coral Bay',
 'Port Alfred',
 'Tathra',
 'Second Beach, Port St Johns',
 'Delray Beach',
 'Macarthur State Park',
 'Winkipop Beach',
 'Santa Lucea Beach, South Hutchinson Island, St. Lucie County',
 'Huahine',
 'Goldsmith Beach, Yorke Peninsula',
 'Porpoise Bay',
 'Umina Beach',
 'Garden Bay near Cosy Nook',
 'Off Miyako Island',
 'Stewart Island',
 'LindÃ©ralique, HienghÃ¨ne',
 'Die Platt',
 'Ninole Bay, Hawaii County',
 'Shelly Beach, near Port Macquarie',
 'Between  Makena & Molokini, Maui',
 'Riecks Point,  Campbell\x92s Beach, ',
 'Keawekapu Beach, Kihei, Maui',
 'Gleneden Beach, Lincoln County',
 'Trigg Beach, Perth',
 'Off Cape Eleuthera',
 'Bay Head, Ocean County',
 'Kanaha Beach, Maui',
 'Turquoise Bay',
 'Little Island, near Hillarys',
 'South Narrabeen Beach',
 'Waiehu, Maui',
 "Pila'a Beach, Kaua'i",
 'Miami Beach',
 "Albatros Point, near Jeffrey's Bay",
 'Off Poison Creek, Cape Arid',
 'Ashdod',
 'Panama City, Bay County',
 'Carlin Park, Jupiter, Palm Beach County',
 'Casino Beach, Pensacola, Escambia County',
 'New Smyrna Beach,  Volusia County',
 'Key West Aquarium',
 'St Augustine Beach, St Johns County',
 'Freetown Beach',
 'Butterfly Beach, Montecito, Santa Barbara County',
 'Winterhaven Park,           Ponce Inlet, Volusia County',
 'Smiths',
 'Pohoiki ',
 'Pillar Point, Half-Moon Bay, San Mateo County',
 'Makenat, Maui',
 "Ka'a Point, Maui",
 'Folly Beach',
 'Sanibel Island, Lee County',
 'Ulua Beach, Maui',
 'Scotland Cay',
 'Compass Cay',
 'Grand Cay',
 'Boa Viagem Beach, Recife',
 'Gulf Shores, Baldwin County',
 'Butler Beach, St Augustine,       St. Johns County',
 'Le cimetiÃ¨re marin',
 'Holden Beach. Brunswick County',
 'Pacific State , San Mateo County',
 'Jacksonville, Duval County',
 'Kiawah Island, Charleston County',
 'Kona Coast State Park',
 'Surfside Beach, Brazoria County',
 'Queensberry Bay',
 'Atlantic Beach, Duval County',
 'Off Snipe Point, Florida Keys, Monroe County',
 'Target Beach',
 'Halewia, Oahu',
 'Coral Cove Beach',
 'Gaza',
 'Playa Brava, Turtle Bay',
 'Brisant Beach',
 'Emerald Beach',
 'Seagull Beach, Cancun',
 'Crowdy Head',
 'Near Boynton Beach, Palm Beach County',
 'False Bay',
 'North Pass, Fakarava',
 'Jensen Beach, Martin County ',
 'Ka\x92anapali Shores',
 'Ile Platte',
 'Savannah Sound',
 'De Mond',
 'Hawston Beach',
 'Pillikin Red Light area ',
 'African Reef off Geraldton',
 'Off Likas Island',
 'Muriwai',
 "Ka'anapali, Honokowai, Maui",
 '"Stuart Rocks", Martin County',
 'Tapu, a dive site on the outer reefs of Bora Bora',
 'Pedro Cays',
 'Cape Nelson',
 'Noosa',
 'Kiholo Bay',
 'Great Mercury Island',
 'Near Legendre Island',
 'Between Dee Why and Long Reef',
 "Kylie's Beach, Diamond Head",
 'Kauai',
 'Green Island',
 'Sunday Cove, Fiordland',
 'Nuevo Altata',
 'Makena Landing, Maui',
 "Davidson's Surf Break, Kekaha, Kaua'i",
 'Humboldt Bay, Eureka, Humboldt County',
 'Surf Beach, Lompoc, Santa Barbara County',
 'Seaport, Brevard County',
 'Oboro',
 'Davenport Landing, Santa Cruz County',
 'Mullaloo Beach, Perth',
 'Spanish House Beach, Brevard County',
 ' Cocoa Beach, Brevard  County',
 'Eueiki Island',
 'South Beach, Miami-Dade County',
 'Neptune Beach, Duval County',
 "St. Augustine Beach, St. John's County",
 'Spreckelsville, Maui',
 'Off the Isle of Islay',
 'Red Bluff near Quobba Station',
 'Coral Cove, Cabo de Santo Agostinho',
 'Ocean Reef',
 'Key Largo',
 'Kaukura Atoll',
 'Topanga Beach, Los Angeles County',
 'Streaky Bay',
 'Maha\x91ulepu Beach, Kauai',
 'Ballston Beach, Truro, Cape Cod',
 'Off Wedge Island',
 'North Topsail Beach, Onslow County',
 'Pleasure Point, Santa Cruz County',
 'Sandstrand, Jongensfontein',
 'Kahana Beach, Maui',
 'South Cape Bay',
 'Bathtub Reef  Beach, Stuart, Martin County',
 'Summerland Key, Monroe County',
 'Port Campbell',
 'Muravera',
 'Redhead Beach, Newcastle',
 'Bethune Beach, Volusia County',
 ' Boca de la LeÃ±a, La UniÃ³n',
 'Iroquiois Point, Oahu',
 'Matacucu Reef ',
 'Leffingwell Landing, Cambria,  San Luis Obispo County',
 'Off Catalina Island',
 'Caves near Kogel Bay',
 'Dolphin Bay, Innes National Park',
 "Leftovers near Chun's Reef, Oahu",
 'Stratham Beach',
 'Kalbarri',
 "Nobby's Beach",
 'Opunake, Taranake',
 'Shipwreck Cove, Melbourne Aquarium',
 'Port de la\xa0Marine',
 'Antofagasta',
 'Palm Beach Inlet, Palm Beach County',
 'Broughton Island',
 'Strandfontein',
 'Wurtulla',
 'Lanai',
 'Cat Island',
 'Taimali',
 'Redhead Beach',
 'Second Beach, Port St. Johns',
 'Lincoln City, Lincoln County',
 'North Avoca Beach',
 'Duranbah',
 'Jupiter, Palm Beach County',
 'BarandÃºa Beach',
 'New Smyrna Beach',
 'Makahuena Point, Kauai',
 'Noordhoek, Port Elizabeth',
 'Angourie',
 'Maroubra',
 'Seaside Cove',
 'Broken Head',
 'Tabanan',
 'Peregian',
 'Pigeon Point',
 'Pigeon Island',
 'Punta Del Chifre Beach, Olinda',
 'Sainte-Rose',
 'Marina State Beach, Monterey County',
 'Spey Bay',
 'uShaka Aquarium, Durban',
 'Newport, Lincoln County',
 'Elwood Beach',
 'Cape Canaveral',
 'Seaside',
 'Cottesloe Beach',
 'Cap La Houssaye',
 'Santa Maria Island, Manatee County',
 'Playa Jackson ',
 'Clovely Beach',
 'Boucan-Canot',
 'Mama Ngina Beach, Mombasa ',
 'Samoa Beach, Humboldt County',
 'Hula, near Port Moresby',
 'Nimitz State Beach, Oahu',
 ' Bunker Bay',
 'Crescent Beach St. Johns County',
 'Grass Island, Aransas County',
 'Slavyanka',
 'Buxton Beach, Dare County',
 'Lookout Beach, near the Keurbooms river mouth in Plettenberg Bay',
 'Zheltukhin Island',
 'Kure Beach, New Hanover County',
 'Vityaz',
 'Teahupoo, Tahiti',
 ' Vieques',
 'Anse Lazio ',
 'Beaufort Inlet',
 'Egg Harbor, Atlantic County',
 'Cintza Beach, East London',
 'Ocracoke Island, Hyde County',
 'Brisants. ',
 'Off Lucaya',
 'Sunday Beach, Matagorda Island, Calhoun  County',
 'Mustang Island, Nueces County',
 'Roches Noires',
 'Libertad, San Onofre',
 'Mudjin Harbor',
 'Praia do Pina',
 'Aliwal Shoal',
 'San Onofre State Beach, San Diego County',
 'Perdido Key, Escambia County',
 'French Cay',
 'St. Ives',
 'Off Jupiter Inlet, Palm Beach County',
 'Albuquerque Cay',
 'Palau Payar',
 "Follett's Island, Brazoria County",
 'Robberg Beach',
 'Lyman Beach, Kailua-Kona',
 'Levan Point',
 'Ponte Vedra Beach, St Johns County',
 'Kendec',
 'Miami',
 'Palm Beach',
 'Riviera Beach, Palm Beach County',
 'Red Bluffs',
 'Snapper Point',
 'Malake Island, Ra Province',
 'Matagorda Beach',
 'Gaviotas Beach, Cancun',
 'Nukudamu ',
 'Jimmys Beach, Port Stephens',
 'Tallow Beach, Byron Bay',
 'Between ',
 'Bay of Bweedro, OuvÃ©a',
 'Trois-Roches',
 'Off Perforated Island near Coffin Bay',
 'Sunshine Beach',
 'Exmouth',
 'Manzanillo, Revillagigedo Islands',
 'Sundays River Mouth, Port Elizabeth',
 'Cancun',
 'Revillagigedo Islands',
 "Second Beach, Port St. John's",
 'Xcalak ',
 'Busselton',
 ' Kahului, Maui',
 'Sigatoka',
 'Tavares Bay, Maui',
 'Middle Garden, Sharm el-Shiekh',
 'Ras Nasrani, Sharm el-Sheikh',
 'Coral Bay, Sharm el-Sheikh',
 'Boca Chica',
 'Between Carnac and Garden Islands',
 'Off Garden Island',
 'Cheynes Beach',
 'Florence',
 '350 miles from Faial Island',
 'Burnt Cove near Eastport, Washington County',
 'Wedge Island',
 'Surf Beach, Vandenberg AFB, Santa Barbara County',
 'Sharm el-Sheikh ',
 'Mullaway Headland',
 'Elbow Cay',
 'Melkbaai, Strand',
 'Winchester Bay',
 'Sandridge Beach',
 'Between Dyer Island and Pearly Beach',
 "Fraser's Reef",
 "St. Augustine, St. John's County",
 'Cowaramup Bay',
 'Pigeon Point, San Mateo County',
 'Three Mile Creek, Townsville',
 'Jeju Island',
 'Crescent Head',
 'Figure Eight Island, Wilmington, New Hanover County',
 'Off Fort St. Elmo, Valetta',
 'Near oil rig Hondo, 5 nm from Gaviota, Santa Barbara County',
 'Micklers Landing, St. Johns County',
 'Myrtle Beach',
 'Wrightsville Beach, New Hanover County',
 'Sardina del Norte, GÃ¡ldar',
 'Lauderdale-by-the-Sea, Broward County',
 'Two Mile Reef, Sodwana Bay',
 'Off Long Island',
 'Pismo Beach, San Luis  Obispo County',
 'Dog Patch, San Onofre',
 'Eight Mile Beach, Galveston',
 'Fripp Island',
 'Topsail Island, Pender County',
 'Quy Nhon ',
 'Jacksonville',
 'Conspicuous Beach, near Walpole',
 'Off Tarpon Springs',
 'Point Plomer',
 ' Ambatolaoka, Nosy Be Island',
 'Hanalei Bay',
 'East Beach, Port Alfred',
 'Bittern',
 'Tahunanui Beach',
 'Nara Reef',
 'Dent Island, Whitsundays',

----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Could not sort values: '<' not supported between instances of 'float' and 'str'
..so let's try filtering NULL values and then sorting

['            ',
 ' A pearl  farm in Roebuck Bay',
 ' Ambatolaoka, Nosy Be Island',
 ' Bellingen',
 ' Black Head, south of Taree',
 ' Boa Viagem Beach, Recife',
 ' Boca de la LeÃ±a, La UniÃ³n',
 ' Botany Bay ',
 ' Bunker Bay',
 ' Chennai (formerly Madras)']

['off Dakar',
 'off Neuvitas',
 'off Paoay, Ilocos Norte Province',
 'off yacht Serenade',
 'the pearling beds',
 'uShaka Aquarium, Durban',
 'Â½ mile offshore & 9 miles north of Fort Pierce',
 'Ãle Saint-Paul',
 'Ãle de Casey',
 'Ãle de Sable']

----------------------------------------
C: Casting to type: string
----------------------------------------
Casting to string was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

NaN                                    487
New Smyrna Beach, Volusia County       160
Daytona Beach, Volusia County           30
Ponce Inlet, Volusia County             20
Melbourne Beach, Brevard County         17
                                      ...
Bilene Bay, 180 km north of Maputo       1
Gleneden Beach                           1
Ãle de Sable                             1
l'Anse-Vata                              1
Below the English fort, Trincomalee      1
Name: Location, Length: 3791, dtype: int64

In [14]:
# Check Activity column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Activity', 'string')

replace_value(shark_attacks, 'Activity', np.nan, None)
replace_value(shark_attacks, 'Activity', ' ', None)
replace_value(shark_attacks, 'Activity', '   ', None)
replace_value(shark_attacks, 'Activity', '.', None)

********************************************************************************
Finding non-default missing values for column 'Activity'
********************************************************************************
Column 'Activity' has datatype: object


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 1419)
Could not sort values

['Paddling',
 'Standing',
 'Surfing',
 'Free diving',
 'Kite surfing',
 'Swimming',
 'Fishing',
 'Walking',
 'Feeding sharks',
 'Boogie boarding',
 'Scuba diving',
 'Paddle-skiing',
 'Body boarding',
 'Windsurfing',
 'Stand-Up Paddleboarding',
 'Wading',
 'Scuba Diving',
 'Kayak fishing for sharks',
 'Snorkeling',
 nan,
 'Spearfishing',
 'Diving',
 'Fishing / Wading',
 '2 boats capsized',
 'Night bathing',
 'Surfing ',
 'Kayaking / Fishing',
 'Kayaking',
 'Body surfing',
 'Swimming, poaching abalone',
 'Canoeing',
 'SUP',
 'Skimboarding',
 'Touching a shark',
 'Attempting to lasso a shark',
 'Paddle boarding',
 'Kakaying',
 'Washing hands',
 'Grabbing shark for a selfie',
 'Kayak fishing',
 'Tagging sharks',
 'Surf skiing ',
 'Surf fishing',
 'Floating',
 'Surfng',
 'SUP Foil boarding',
 'Lobstering',
 'Fishing in Alabama Deep Fishing Rodeo',
 'Fishing for squid',
 'Fishing for sharks',
 'Floating in tube',
 'Teasing a shark',
 'Surf-skiing',
 'Diving for beche-de-mer',
 'Kayak Fishing',
 'Sea disaster',
 'Lobster fishing',
 'Swimming / Wading',
 'Fishing for shrimp',
 'Photographing fish',
 'Scallop diving on hookah',
 'Body boarding ',
 'Playing in the water',
 'Body Boarding',
 'Body surfing?',
 'Playing',
 'Attempting to rescue a shark',
 'Photographing the shark',
 'Standing / Snorkeling',
 'Hand feeding sharks',
 'Sitting in the water',
 'Transatlantic Rowing',
 'Bodysurfing',
 'Rowing',
 'Shark fishing',
 'Filming',
 'Diving / Filming',
 'Fishing for blue sharks',
 'Standing in inner tube',
 'Body surfing or Boogie boarding',
 'Kayaking ',
 'Feeding fish',
 'Fishing ',
 'Playing with an air mattress',
 'Kite boarding',
 'Petting a shark',
 'Kneeling in the water',
 'Fell into the water',
 'Shark watching',
 'Kite Surfing',
 'Kitesurfing',
 'Sailing',
 'Spearfishing / Free diving',
 'Free diving / Photographing pilot whales',
 'Filming a documentary',
 'Attempting to remove fishing net from submerged object',
 'Kiteboarding',
 'Diving for crayfish',
 'Diving ',
 'Swimming / snorkeling',
 'Diving for Abalone',
 'Casting a net',
 'Longline fishing for sharks',
 'Wrangling a shark',
 'Attempting to free the shark',
 'Cleaning fish',
 'Walking in surf',
 'Swimming ',
 'Swimming & snorkeling',
 'Boogie Boarding',
 'Playing in the surf',
 'Fly fishing',
 "Fishing - 'tag & release'",
 'Swimming to shore with floatioon devices after boat engine conked out',
 'Bathing',
 'Bodyboarding',
 'Swimming or boogie boarding',
 'Wading or swimming',
 'Free diving ',
 'Attempting to rescue an injured & beached shark',
 'Free diving / spearfishing',
 'Crayfishing',
 'Diving, feeding sharks',
 'Fishing (illegally)',
 'Diving, photographing sharks',
 'Wade fishing',
 'Jumping in the waves',
 'Wade Fishing',
 'Standing, collecting sea stars',
 'Floating ',
 'Swimming or Snorkeling',
 'Kayaking or Wave skiing',
 'Jet skiing',
 'Standing or boogie boardin',
 'Kite Boarding',
 'Washing sand off a speared fish',
 'Standing, holding shark pup',
 'Diving / fishing',
 'Wakeboarding',
 'Diving for abalone',
 'Shark fishing on the Ricardo Astorga',
 'Shark fishing on the Don AgustÃ­n-VI. ',
 'Attempting to fix motor',
 'Swimming /  Whale Watching',
 'Rescuing',
 'Measuring sharks',
 'Swimming / treading water',
 'Surf fishing / wading',
 'Paddling on kneeboard',
 'Swimming to shore from capsized kayak',
 'Paddle-boarding',
 'Swimming, attempting to rescue a girl  believed to be drowning',
 'Washing his feet',
 'Paddle-surfing',
 'Diving, but on the surface when bitten by the shark',
 'Air Disaster',
 'Yacht race',
 'Sinking of the cargo ship Mark Jason',
 'Fishing boat swamped in storm',
 'Swimming, towing surfboard',
 'Treading water',
 'Swimming or surfing',
 'Rowing an inflatable dinghy',
 'Spearfishing (free diving)',
 'Sea Disaster',
 'Night diving',
 'Walking out of the water after surfing',
 'Fishing from surfski',
 "Accidentally stood on hooked shark's tail before attempting to gut it ",
 'Attempting to chase shark out to sea',
 'Fishing for snapper',
 'Removing fish from a trap',
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
 'Wading?',
 'Jumping',
 'Floating near boat & observing bioluminesce',
 'Jumped into the water',
 'Surf paddling',
 'Removing hook from shark',
 'Reviving a sedated shark',
 'Shark tagging',
 'Swimming / jumping off a jetty',
 'Playing on a sandbar',
 'Murder',
 'Shrimping',
 'Swimming / Body Surfing',
 'Playing soccer in the water',
 'Free diving / modeling',
 'Diving / Kissing the shark',
 'Lifesaving drill',
 'Touching sharks',
 'Competing in the Woodvale Atlantic Rowing Race',
 'Night Surfing',
 'Standing / Surfing',
 'Treading water/ Surfing',
 'Removing shark from net',
 'Scuba diving in aquarium tank',
 'Holding onto an inflatable boat',
 'Swimming with boogie board',
 'Spearfishing (Free diving)',
 "Crouching in 2' of water",
 'Diving in aquarium display tank',
 'Attempting to drive shark away from sailing regatta',
 'Fishing from a kayak',
 'Scurfing (surfboard being  towed behind a boat)',
 'Chumming for white sharks',
 'Spearfishing/ filming',
 'Diving & fishing with net',
 'Wading / fishing & carrying a bag of fish',
 'Fishing for squid aboard the trawler Shikishima-Maru when the shark leapt into the boat',
 'In water with diving seabirds',
 'Swimming, poaching perlemoen',
 'Boogie-boarding / swimming',
 'Free diving & spearfishing',
 'Tandem surfing',
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water',
 'Surf skiing',
 'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea',
 'Swimming / shipwreck',
 'Surfing amid a shoal of sharks',
 'Sitting on surfboard',
 'Wading near a fishing net',
 'Wading to shore from his boat',
 'Standing, stepped on shark',
 'Wade-fishing',
 'Swimming, wearing black wetsuit & swim fins',
 'Walking, carrying surfboard & stepped on shark',
 'Swimming with pod of dolphins',
 'Killing  sharks',
 'Swimming (using a float)',
 'Petting captive sharks',
 "Fishing, standing in 2' of water",
 'Fishing from Surfboard',
 'Boogie boarding or Surfing',
 'Wading, when he stepped on the shark',
 'Shark Fishing',
 'Attempting to retreive a dinghy',
 'Snorkeling (filming the sardine run)',
 'Floating on a raft',
 'Fishing, removing the shark from his line',
 'Playing in the surf with his 2 dogs',
 'Collecting beche-de-mer',
 'Fishing from prawn trawler',
 'Scallop diving (using surface-supplied air & a POD) ',
 'Surfing, but standing in water alongside board',
 'Body-boarding',
 'Swimming /  boogie boarding',
 'Capsized fishing boat',
 'Kite-Boarding',
 'Surfing, fell off surfboard & stepped on the shark.',
 'Walking in shallows',
 'Fell off banana boat',
 'Floating face-down in knee-deep water',
 'Spearfishing, carrying his catch',
 'Standing alongside surfboard',
 'Batin',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Fishing for whiting',
 'Swimming back from anchored sailboat',
 'Diving for sea urchins',
 'Diving (shell maintenance)',
 'Fell onto dead shark',
 'Standing / surfing',
 'Swimming / Body surfing',
 'Conducting research',
 'Swimming out to porpoises ',
 'Windsurfing, but sitting on his board',
 'Surfing / Wading',
 'Spearfishing, holding mesh bag with speared fish',
 'Air Disaster - Piper aircraft crashed into the sea, killing all on board',
 'Boogie boarding / wading',
 'Feeding prawns to captive sharks',
 'Canoe with 3 men onboard sank',
 'Fishing for tarpon',
 'Surfing (sitting on his board)',
 'Spearfishing, but swimming at surface',
 'Surfing, lying on surfboard',
 'Wading to shore after surfing',
 'Wading with surfboard',
 "Lying prone in 2' of water",
 'Spearfishing & holding catch',
 'Swimming with dolphins',
 'Wading in school of baitfish',
 'Adrift in a life jacket',
 'Splashing / wading',
 'Swimming after being swept into sea by a large wave',
 'Spearfishing & diving for paua',
 "Scientific research (Dr. Sonny Gruber's student)",
 'Swimming, towing a kayak',
 'Body surfing or body boarding',
 'Swimming near pod of whales',
 'Cruising',
 'Paddle Skiing',
 'Inflatable boat',
 'Splashing',
 'Fishing for tuna',
 'Fishing / washing bait off hands',
 'Moving a shark in a net ',
 'Surfing (or body boarding)',
 'Free diving for abalone',
 'Swimming / surfing',
 'Towing rubber dinghy',
 'Surfing (lying prone on his board)',
 'Snorkeling \x96 hunting crayfish and abalone',
 'Swimming or paddle boarding',
 'Spearfishing on scuba & transferring fish onto a stringer',
 'Scuba diving (submerged riding a scooter)',
 'Body boarding or surfing',
 'Fishingat',
 'Walking / surfing',
 'SCUBA diving',
 'Floating on raft',
 'Wading / Surfing',
 'Fishing for octopus',
 'Spearfishing / night diving',
 'Body surfing, stood up on sandbar',
 'Rowing ',
 'Watching seals',
 'Attempting to attract dolphins',
 'Swimming or snorkeling',
 'Surfing / Swimming',
 'Free diving with a pod of dolphins',
 'Shell Diving',
 'Swimming breast stoke',
 'Fishing in knee-deep water',
 'Dived naked into the water on a bet',
 'Swimming in fish tank',
 'Boeing 757 enroute from Porta Plata plunged into the sea',
 'Swimming with mask & snorkel',
 'Chumming for sharks',
 'Diving, gathering shellfish',
 'Fell off aircraft carrier',
 'Playing / standing',
 'Abalone diving using Hookah (near calving whales)',
 'Abalone diving using Hookah (resting on the surface)',
 'On a float',
 '"Riding waves on a board"',
 'Jumped off surfboard & landed on the shark',
 'Scuba diving (ascending using scooter)',
 'Playing / jumping',
 'Sleeping in anchored boat',
 'Scuba diving for bivalves',
 'Wind surfing',
 'Surfing, sitting on board',
 'Commercial diver (submerged or treading water)',
 'Surfing, paddling seawards',
 'Adrift on refugee raft',
 'Jumped off rocks into white water',
 'Freediving for seashells',
 'Swimming alongside NOAA research vessel Discoverer',
 'Removing shark from tank in nightclub ',
 'Swimming, after falling off towed kneeboard',
 'Playing volleyball with friends',
 'Hookah diving',
 'Surfing, paddling shorewards',
 'Stamding',
 'Watching the shark feeding on a dead pinniped',
 'Riding floatation device',
 'Free diving for abalone (ascending)',
 'Fishing for lobsters',
 'Oyster fishing',
 'Paddling on surfboard or body board',
 'Scuba diving at seal colony',
 'Floating on his back',
 'Paddling on surfboard',
 'Free diving & spearfishing (ascending)',
 '   ',
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish',
 'Lying on surfboard',
 'Spearfishing / free diving',
 'Scuba diving (submerged)',
 'Hookah diving for sea urchins',
 'Snorkeling, carrying a speared fish in her hand',
 'Preparing to fish for jack-mackerel',
 'Scuba diving & filming',
 'Hookah diving for pen shells ',
 'Fishing for yellowtail, Seriola quinqueradiata',
 'Diving for pen shells',
 'Fishing from rocks, swept out to sea by large wave & treading water',
 'Finning the shark that bit him',
 'Swimming from makeshift raft  to life vest after fishing boat sank',
 'Swimming behind sailboat',
 'Surfing, collided with shark',
 'Surfing (or sailboarding)',
 'Scuba diving (but on surface)',
 'Free diving / spearfishing, from paddleboard & floating on the surface',
 'Snorkeling, possibly holding a fish',
 'Resting on surfboard',
 'Lying on surfboard & paddling',
 'Free diving for trochus',
 'Scuba diving & spearfishing',
 'Board sailing',
 "On board 51' fishing vessel One Ki",
 'Swimming in canal',
 "Fishing, stepped on hooked shark's head",
 'Observing a shark feeding on a carcass of a humpback whale',
 'Hookah diving for abalone (descending)',
 "Filming 5' blue shark",
 'Playing ',
 "Fell off surfboard 20' from shore",
 'Windsurfing (urinating on his board)',
 'Scuba diving, but swimming on surface',
 'Swimming in strong current with 3 others when he disappeared',
 'Surfing with dolphins',
 'Scuba diving, hand feeding sharks',
 'Spearfishing using scuba & trailing a string of bleeding fish',
 'Skindiving',
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy',
 'The MV Dona Marilyn sank in Typhoon Unsang with the loss of 389 lives',
 "Diving in Sharkey's Reef restaurant\x92s aquarium",
 'Free diving & spearfishing ',
 'Spearfishing on scuba',
 'Sittting in water with his child',
 'Shell diving',
 'Surfing / treading water',
 'pÃªcheur de bichiques',
 'Standing ',
 'Lying atop surfboard',
 'Drift fishing',
 "Attempting to lasso shark's tail",
 'Returning to shore, collided with shark',
 'Ferry boat Dona Paz with 4431 passengers exploded & caught fire when she collided with an  oil tanker ',
 'Vessel caught fire & capsized, survivors in the water',
 'Scuba Diving for scallops',
 'Dropping anchor',
 'Swimming from shore to anchored sailboat',
 'The inter-island ferry Vula sank in heavy weather',
 'Boat',
 'Adrift after ditching plane in the sea',
 'Free diving  & spearfishing (submerged)',
 'NSB Meshing',
 'Racing ski',
 'Fishing, fell from rocks & disappeared',
 'Hookah diving for abalone',
 'Floating on inner tube after diving for lobster',
 'Free diving & spearfishing (descending)',
 'Bottom fishing for lingcod & had hooked a fish',
 'Playing in knee-deep water',
 'Surfing, but lying prone on his board',
 'Free diving for scallops',
 'Scuba Diving for lobster (at surface)',
 'Investigating shark sighting',
 'Sailing on catamaran & fell into the water',
 'Surfing or body surfing',
 'Free diving , but surfacing',
 'Sea disaster, foundering of the cargo vessle M/V Dorolonda',
 "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water ",
 'Towing her sister on plastic ski board',
 'Steinhart Aquarium',
 'Scuba diving for abalone',
 'Ferry boat sank',
 'Swimming from the New Venture ',
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water',
 'Floating on air mattress',
 'Surfing & dangling foot in water amid baitfish',
 'Water-skiing',
 'Paddleskiing',
 'Ran into the water',
 'In waist-deep water',
 'Free diving for abalone from Zodiac (submerged)',
 'Paddle Boarding',
 'Spearfishing ',
 'Sailboarding, fell into water 100 yards outside the breakwater',
 'Fishing on a boat',
 'Spearfishing, but swimming on surface',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 "Diving to untangle a crab trap line from boat's propeller",
 "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore",
 'Snorkeling on surface',
 'Catching sardines',
 'Scuba diving, reportedly also spearfishing',
 'Foundering of the Israeli freighter Mezada',
 'Standing / Wading',
 'Free diving Spearfishing',
 'Exercising his dog in the shallows',
 'Commercial spearfishing',
 'Free diving / spearfishing, ',
 'Diving in tuna net',
 'Resting on body board',
 'Skin diving',
 'Sinking of the ferryboat Don Juan',
 'Sinking of the ferryboat Bongbong 1',
 'Hookah Diving',
 'Gaffing netted shark',
 'Freedom swimming',
 'Murdered by Thai pirates',
 'Floating with life preserver after his boat foundered',
 'Floating on inner tube raft',
 "Explosion destroyed 28' boat, survivors in the water ",
 'Fishing for mackerel',
 'Swimming, after single-engine aircraft went down in the sea',
 'Fishing for bottom fish',
 'Floating on an inflatable raft',
 'Free diving for abalone (surfacing)',
 "40' fishing boat sank",
 'Spearfishing / Scuba diving',
 'Collecting fish from net',
 'Fishing for yellowtail',
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days',
 "Pushed surfmat of a young girl out of the shark's path, drawing shark's attention to his own board",
 'Hookah diving for abalone (submerged)',
 'Thrashing the water / imitating the shark victim from "Jaws"',
 'Fishing for white shark',
 'Shipwreck',
 'Skindiving,',
 '3,909-ton Panamanian freighter Chieh Lee sank in a typhoon',
 'Surfing, fell off surfboard',
 "Sitting in bow of her father's 5 m boat",
 'Competing in a light tackle game fishing',
 'Fishing for snoek & yellowtail',
 'Spearfishing / scuba diving',
 'Attempting to drive shark away from the beach',
 'Filming & feeding captive sharks',
 'Floating on a small orange raft ',
 'Scuba diving for abalone (at surface)',
 'Swimming near his boat',
 'Spearfishing Competition',
 'Floating in inner tube',
 'Diving & force-feeding the shark',
 'Attempting to drag hooked shark ashore by its tail',
 'Ferry capsized',
 'Swimming underwater from crayfish cage to a fishing bait',
 '3.3 m fishing boat sank. Treveluwe & Peter Hodgson (wearing lifejackets) were drifting in the current',
 'Freedom Swimming',
 'Free diving for abalone (submerged)',
 'Adrift after the sinking of the motor yacht Princess Dianne',
 'Free diving (but on surface)',
 'Fishing boat swamped in a storm',
 'Fishing for kob',
 'Fishing for red fish',
 'Sitting',
 'Swimming alongside yacht Mexico Fiesta',
 'Being pulled to shore from wreck of 25-ton fishing vessel Alan S',
 'Free diving, Spearfishing',
 'Crabbing (spearing crabs)',
 'Fishing from paddleski',
 'Scuba diving & U/W photography',
 'Sitting in shallows',
 'Free diving, collecting shells',
 'Scuba diving & feeding fish',
 'Hookah diving (submerged)',
 'Wreck of the 1689-ton Portuguese  coaster Angoche',
 'Fishing for prawns',
 'Motor launch Baby Princesa capsized with 22 people on board',
 'Freediving',
 'Air disaster',
 'Attempted to return injured shark to the sea',
 'Spearfishing / freediving',
 'Washing cooking pans',
 'Washing clothes on stairs',
 'Fishing, trying to catch the end of his fishing line',
 'Scuba diving for lobsters',
 'Freediving for abalone (at surface)',
 'Surf-fishing',
 'Sight-seeing',
 'Feeding mullet to sharks',
 'Wreck of the Storm King',
 'Spearfishing using Scuba',
 'Sinking of the ferryboat Dumaguete ',
 'Playing with a frisbee in the shallows',
 'Leaving the water',
 'Dynamite fishing',
 'Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore',
 'Clamming',
 'Diving. Shark \x93swallowed\x92 his hand, so he threw his other around the shark and went \x93shark-back riding\x94 for 30 yards until the shark opened its jaws',
 'Wading & pushing dinghy toward  the shallows',
 'Picking up shark by the tail',
 'Swimming after his canoe capsized',
 'Sinking of the M/V Mindoro during a typhoon',
 'Standing on sandbar',
 'Pulling shark from the water',
 'Spearfishing on Scuba',
 'Spearfishing, dived to pick up a float line',
 'Photographing sharks underwater using Scuba',
 'Beach seine netting',
 'Fishing boat',
 'Feeding a shark',
 'The shrimper Loless Maurine capsized in heavy seas & the men were swimming ashore  ',
 'Fishing for rock lobster',
 'Swimming in the channel',
 'A father bathing his smallest daughter when the shark bumped her out of his arms and carried her into deep water',
 'Free diving, carrying speargun',
 'Hunting crayfish ',
 'Diving into water',
 'Lobster diving using Scuba',
 'Attacked shark with fists',
 'Diving for sand dollars',
 'Killing a shark',
 'Sinking of the dredge World Atlas',
 'The passenger ship Pioneer Cebu  capsized & sank in Typhoon Irma',
 'Overturned skiff',
 'Fishing (big game)',
 'The World Liberty and the tanker Mosli collided. The  Halcyon Breeze sent a lifeboat to the rescue, but it was smashed, throwing 6 men in the  water.',
 'Helping men land a shark',
 'wreck of the State Oil Company ship Permina',
 'Free diving / spearfishing (resting on the surface)',
 'Colombian  (Avianca) DC-4 airliner plunged into the sea 5 minutes after takeoff',
 'Body surfing ',
 'Spearfishing, but standing in knee-deep water',
 "Fishing from 34' boat when pulled overboard by hooked shark",
 'Hauling dead shark aboard, when another shark leapt out of the water & bit him',
 'The boat Caribou II sank',
 'Sunbathing on beach when he saw child being attacked by the shark',
 'Spearfishing, shot a turtle',
 'Spearing fish',
 'Fishing (rod & line)',

----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Could not sort values: '<' not supported between instances of 'float' and 'str'
..so let's try filtering NULL values and then sorting

[' ',
 '   ',
 ' a canoe was pursuing a schooner that had forcibily abducted 5 young girls',
 '"Boat accident"',
 '"Climbing up to ship after repairing the stern in water"',
 '"Crossing the river"',
 '"Flying Tiger" transport plane went down with 5 men onboard',
 '"Riding waves on a board"',
 '"Swimming vigorously"',
 '.']

['male',
 'native boats sunk in storm',
 'preparing to go skin diving',
 'pÃªcheur de bichiques',
 'ship M.V. Rizal sank during typhoon',
 'ship William Penn grounded & broke apart',
 'ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover',
 'wreck of the State Oil Company ship Permina',
 'yachting accident',
 'yachtsman in a zodiac']

----------------------------------------
C: Casting to type: string
----------------------------------------
Casting to string was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

Surfing                                 931
Swimming                                779
NaN                                     422
Fishing                                 411
Spearfishing                            307
                                       ...
Sight-seeing                              1
Surf-fishing                              1
Freediving for abalone (at surface)       1
Scuba diving for lobsters                 1
Wreck of  large double sailing canoe      1
Name: Activity, Length: 1419, dtype: int64

In [15]:
# Check Sex column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Sex_Victim', 'string')

replace_value(shark_attacks, 'Sex_Victim', np.nan, None)
replace_value(shark_attacks, 'Sex_Victim', '.', None)
replace_value(shark_attacks, 'Sex_Victim', 'M ', 'M')
replace_value(shark_attacks, 'Sex_Victim', 'lli', None)
replace_value(shark_attacks, 'Sex_Victim', 'N', None)

********************************************************************************
Finding non-default missing values for column 'Sex_Victim'
********************************************************************************
Column 'Sex_Victim' has datatype: object


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 7)
Could not sort values

['F', 'M', nan, 'M ', 'lli', 'N', '.']

----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Could not sort values: '<' not supported between instances of 'float' and 'str'
..so let's try filtering NULL values and then sorting

['.', 'F', 'M', 'M ', 'N', 'lli']

['.', 'F', 'M', 'M ', 'N', 'lli']

----------------------------------------
C: Casting to type: string
----------------------------------------
Casting to string was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

M      4683
F       575
NaN     491
M         2
N         2
lli       1
.         1
Name: Sex_Victim, dtype: int64

In [16]:
# Check Age column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Age', 'string')

replace_value(shark_attacks, 'Age', np.nan, None)
replace_value(shark_attacks, 'Age', ' ', None)
replace_value(shark_attacks, 'Age', '  ', None)
replace_value(shark_attacks, 'Age', 'F', None)
replace_value(shark_attacks, 'Age', 'MAKE LINE GREEN', None)
replace_value(shark_attacks, 'Age', 'X', None)
replace_value(shark_attacks, 'Age', '\xa0 ', None)
replace_value(shark_attacks, 'Age', 'A.M.', None)

********************************************************************************
Finding non-default missing values for column 'Age'
********************************************************************************
Column 'Age' has datatype: object


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 148)
Could not sort values

['57',
 '11',
 nan,
 '18',
 '52',
 '15',
 '12',
 '32',
 '10',
 '34',
 '30',
 '60',
 '33',
 '29',
 '54',
 '41',
 '37',
 '19',
 '25',
 '69',
 '38',
 '55',
 '35',
 '45',
 '40s',
 '28',
 '20',
 '24',
 '26',
 '49',
 '14',
 '22',
 '7',
 '31',
 '17',
 '40',
 '13',
 '42',
 '3',
 '50',
 '46',
 '16',
 '82',
 '48',
 '20s',
 '21',
 '51',
 '39',
 '58',
 'Teen',
 '47',
 '61',
 '65',
 '73',
 '36',
 '66',
 '43',
 '60s',
 '9',
 '72',
 '59',
 '6',
 '64',
 '23',
 '71',
 '44',
 '27',
 '62',
 '68',
 '63',
 '70',
 '18 months',
 '53',
 '30s',
 '50s',
 '8',
 'teen',
 '77',
 '74',
 '56',
 '28 & 26',
 '5',
 '86',
 '18 or 20',
 '12 or 13',
 '46 & 34',
 '28, 23 & 30',
 'Teens',
 '36 & 26',
 '84',
 '\xa0 ',
 ' ',
 '30 or 36',
 '6Â½',
 '21 & ?',
 '33 or 37',
 'mid-30s',
 ' 30',
 '7      &    31',
 ' 28',
 '20?',
 "60's",
 '32 & 30',
 '87',
 'Elderly',
 '75',
 '74 ',
 '45 ',
 '21 or 26',
 '20 ',
 '>50',
 '18 to 22',
 'adult',
 '9 & 12',
 '9 months',
 '25 to 35',
 '23 & 26',
 '1',
 '(adult)',
 '33 & 37',
 '25 or 28',
 '30 & 32',
 '50 & 30',
 '17 & 35',
 'X',
 '"middle-age"',
 '13 or 18',
 '33 & 26',
 'MAKE LINE GREEN',
 ' 43',
 '81',
 '"young"',
 '7 or 8',
 '78',
 '17 & 16',
 '8 or 10',
 'F',
 'Both 11',
 '9 or 10',
 'young',
 '36 & 23',
 '  ',
 'A.M.',
 '?    &   14',
 '10 or 12',
 '31 or 33',
 '2Â½',
 '13 or 14']

----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Could not sort values: '<' not supported between instances of 'float' and 'str'
..so let's try filtering NULL values and then sorting

[' ',
 '  ',
 ' 28',
 ' 30',
 ' 43',
 '"middle-age"',
 '"young"',
 '(adult)',
 '1',
 '10']

['F',
 'MAKE LINE GREEN',
 'Teen',
 'Teens',
 'X',
 'adult',
 'mid-30s',
 'teen',
 'young',
 '\xa0 ']

----------------------------------------
C: Casting to type: string
----------------------------------------
Casting to string was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

NaN         2522
18           143
17           140
15           137
16           136
            ...
45             1
21 or 26       1
20             1
>50            1
13 or 14       1
Name: Age, Length: 148, dtype: int64

In [17]:
# Check Injury column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Injury', 'string')

replace_value(shark_attacks, 'Injury', np.nan, None)

********************************************************************************
Finding non-default missing values for column 'Injury'
********************************************************************************
Column 'Injury' has datatype: object


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 3334)
Could not sort values

['No injury to occupant, outrigger canoe and paddle damaged',
 'Minor injury to left thigh',
 'Minor injury to lower leg',
 'Lacerations to leg & hand shark PROVOKED INCIDENT',
 'No injury, board bitten',
 'FATAL',
 'Minor injury to foot. PROVOKED INCIDENT',
 'Lower left leg bitten',
 'Minor injury to foot',
 'Minor bite to hand by captive shark. PROVOKED INCIDENT',
 'Injuries to lower right leg and foot',
 'Severe bite to right forearm',
 'Shallow lacerations to finger PROVOKED INCIDENT',
 'Minor injury, marks on board',
 'No injury, surfboard damaged',
 'Minor injury to ankle',
 'No injury, shark bit scuba gear',
 'No injury, knocked off board by shark',
 'No injury',
 'No injury, shark struck his leg',
 '5-inch cut to hand',
 'No injury, shark bit hole in ski',
 'Lacerations to right lower leg',
 'Lacerations to foot and ankle',
 'Multiple severe injuries to arms and leg, leg subsequently surgically amputated',
 'Laceration to right thigh',
 'Lacerations to legs',
 'No Injury. Shark swam away with the surf board',
 'No injury, shark bit board',
 '2 puncture wounds to left foot, abrasion to right foot',
 'Lacerations to left knee & lower leg',
 'Injuries to right leg & hand',
 'Minor injuries to legs',
 'No injury, said to have been charged by sharks several times',
 'Minor injury, ankle grazed',
 ' The shark & man simply collided; neither were injured',
 'Laceratons to right leg & foot',
 'Shark rammed kayak, no injury to occupant  PROVOKED INCIDENT',
 'Puncture wounds to leff foot & lower leg',
 'Injuries to right foot',
 'Injuries to right leg',
 'Injuries to abdomen and arm',
 'Severe laceration to left forearm',
 'No injury, shark took his swimfin',
 'Minor injury to left forearm',
 'Foot bitten',
 'Severe lacerations to left thigh & knee',
 'Minor injury to thigh, PROVOKED INCIDENT',
 'Minor injury to arm',
 'Serious injury to leg',
 'Right leg bitten',
 'Heel bitten',
 'Puncture wounds to feet',
 'Puncture wounds to left shoulder',
 'Calf injured',
 'No injury but shark bit SUP',
 'Lacerations to left foot',
 'Severe lacerations to left hand & wrist',
 'Minor injuries',
 'No injury, shark shook kayak x3 ',
 'Puncture wounds & lacerations to foot',
 'Lacerations to left hand',
 'Abrasions',
 'Lacerations to lower left leg and foot',
 'No injury, board damaged by shark',
 'Laceration to upper arm',
 'Minor lacerations to sole of left foot',
 'Lacerations to right foot',
 'Injuries to hands and legs',
 'sharks rammed boats, no injury to occupants',
 'Minor lacerations to right hip',
 'Injury to ankle & feet',
 'Lacerations to abdomen',
 'Lacerations to foot',
 'Minor injury to right hand',
 'Leg injured',
 'No injury, shark bit canoe',
 'Not injured by shark but board bitten',
 'Hand injured',
 'Minor cuts to sole & toes of left foot',
 'Bite to right leg/hip',
 'Foot bitten by landed shark PROVOKED INCIDENT',
 'No injury, bow of kayak bitten',
 'Lacerations to lower leg',
 'Bite to left thigh / minor injury',
 'Foot & ankle injured',
 'Severe lacerations to left hand',
 'Torso bitten',
 'Minor injury to hand',
 "Abrasion to arm from shark's rough skin",
 'No injury, kayak bitten',
 'No injury, shark bit paddleboard',
 'Pulled off board by shark but no injury',
 'Minor injury, grazed by shark',
 'Lower legs bitten',
 'Hand bitten by hooked shark PROVOKED INCIDENT',
 'No injury, shark bit surfboard',
 'Left foot bitten',
 '1 to 2-inch laceration behind knee',
 'Leg bitten',
 'No injury, shark bit surfboard ',
 '2-inch laceration to hand',
 'Injuries to hand and wrist',
 'Fingernail pulled off ',
 'No injury, knocked off board',
 'Laceration to left foot',
 'Bruise to leg, cuts to hand sustained when he hit the shark',
 'Laceration to shin',
 'Right forearm severed ',
 'Right hand bitten by hooked shark PROVOKED INCIDENT',
 'Lacerations to right arm',
 'Right leg severely bitten',
 'Thigh nipped PROVOKED INCIDENT',
 'Major injury to posterior thigh',
 'Minor injury to right calf',
 'Puncture wounds & laceration above knee',
 'Calf & foot bitten',
 'Minor bite to the foot',
 'Lower right leg severely injured',
 'Calf bitten',
 'Laceration to calf',
 'Minor injury to left hand',
 'Foot injured',
 'Thigh nipped, minor injury',
 'No injury, shark bit off stern of kayak',
 'Lacerations to thighs',
 'Minor injury to left foot',
 'Minor',
 'Right thigh injured ',
 'Abrasions & lacerations to left leg and hand',
 'Hand bitten',
 'No injury, shark struck board',
 'Fatal',
 'Left leg severely bitten',
 'Injury to hand',
 'Minor injury to finger, PROVOKED INCIDENT',
 'Shark damaged kayak, no injury to occupant',
 'Shark bit boat, no injury to occupants',
 'Lacerations to upper right arm',
 'Minor laceration to ring finger',
 'Puncture wounds to lower arm or hand',
 'Multiple injuries to arm, wrist and torso',
 'Injury to right wrist & forearm',
 'Minor injuries to foot',
 'Lacerations to right forearm',
 'Buttock bitten',
 'No injury, but ski severely damaged',
 'Punctures to left foot/ankle',
 'Hand injured?',
 'Lacerations to both hands while attempting to land a hooked shark PROVOKED INCIDENT',
 'Injuries to foot & arm',
 'Laceration to right hand by hooked & gaffed shark. PROVOKED INCIDENT',
 'Injuries to right calf and thigh',
 'Lacerations to right foot and ankle',
 'Lacerations to right hand',
 'Lacerations to left thigh',
 'Left arm and leg injured',
 'Torso nipped',
 'Injuries to left calf',
 'Minor wound to lower right leg & surfboard bitten',
 'Wounds to upper thigh and lower leg',
 'Cuts to dorsal surface of left foot',
 '4 deep lacerations to thigh',
 'Minor injury to thigh',
 'Lacerations to hands',
 'Struck by fin on chest & leg',
 'No injury: Knocked off board by shark',
 'Shark rammed boat. No injury to occupant',
 'Severe lacerations to shoulder & forearm',
 'Lacerations & punctures to lower right leg',
 'No inury, board broken in half by shark',
 'Two toes broken & lacerated',
 'Right arm severed, ankle severely bitten ',
 'Lacerations to left leg',
 'No inury, shark & board collided',
 'Big toe bitten',
 'Lacerations to leg',
 'No injury, shark nudged kayak repeatedly',
 'Laceration to left forearm PROVOKED INCIDENT',
 'No injury. Leg rope severed, knocked off board by shark',
 'Calf bumped but no injury',
 'Lacerations to face and right leg',
 'Laceration to left calf from hooked shark PROVOKED INCIDENT',
 'No injury, shark bit trolling motor',
 'Minor injury to leg',
 'Minor injury to toes',
 'No injury, board damaged',
 'Puncture wounds to foot',
 'Face bruised when partly blind shark collided with him',
 '5 tiny puncture marks to lower leg, treated with hydrogen peroxide',
 'No injury. Hull bitten, tooth fragment recovered',
 "Fin of hooked shark injured fisherman's forearm. . PROVOKED INCIDENT",
 'Buttocks, thigh, left hand & wrist injured',
 'Right thigh injured by hooked pregnant female shark PROVOKED INCIDENT',
 'Minor injury',
 'Severe bite to right hand',
 'Injuries to left leg & right hand',
 'Lacerations and punctures to foot',
 'Injuries to right calf',
 'Single puncture wound to arm',
 'No injury but shark punctured his wetsuit after he prodded it with his spear PROVOKED INCIDENT',
 'Injury to lower leg',
 'Laceration to wrist',
 'Leg severely bitten, surgically amputated',
 'No injury, but sharks repeatedly hit their fins and guns',
 'Laceration to heel',
 'Injuries to arm and shoulder',
 'Injury to posterior right leg',
 'Puncture wounds to thigh',
 'Lacerations and puncture wounds to foot and ankle',
 'Back, arm & hand injured',
 'Ankle bitten',
 'Arm grabbed PROVOKED INCIDENT',
 'Minor lacerations to right shoulder',
 'Elbow bitten',
 'No injury, surf-ski bitten',
 'Minor puncture wound to foot',
 'Laceration to knee by speared shark PROVOKED INCIDENT',
 'Severe lacerations to right forearm, hand and calf from speared shark PROVOKED INCIDENT',
 'Multiple bites to right arm',
 'Left hand bitten',
 'Severe injury to thigh',
 'Minor injury to arm. Possibly caused by smalll nurse shark',
 'No injury, board dented',
 'Minor injury to chest PROVOKED INCIDENT',
 'Superficial injury to foot',
 'Puncture wounds to right calf',
 'Minor injury to head',
 'Puncture wounds to right thigh',
 'Forearm bitten',
 'Avulsion injury to lower leg',
 'Foot nipped',
 'Lacerations to scalp',
 'No injury, shark capsized kayak',
 'Lacerations to both hands',
 'Bruised ribs & tail bone, speargun broken and wetsuit cut',
 'No injury to occupants, shark leapt into boat',
 'Laceration to right foot',
 'Laceration to right calf',
 'Lacerations to arms & leg',
 'No injury, kayak damaged',
 'Lacerations to left forearm',
 'No injury, shark leapt on surfboard',
 'Right hand & part of forearm removed',
 'No injury, shark rammed boat & bit motor',
 'Bitten on thigh, abdomen & hand',
 'Lacerations to both hands and forearms',
 'Lacerations to left calf',
 'Right heel injured',
 'Lacerations to hand',
 'Injury to left thigh',
 'Laceration to right ankle',
 'Injury to right ankle/calf & hand',
 'Arms severely injured, surgically amputated',
 'Lacerations & puncture wounds to right thigh, calf & ankle',
 'Lacerations to right calf, knee & hip',
 'Severe injuries to lower legs. Foot later surgically amputated.',
 'No injury, shark rammed kayak repeatedly',
 'Laceration to forearm',
 'Left leg severed below the knee, defense injuries to left hand',
 'Arm severely injured, surgically amputated',
 '2 lacerations to ankle',
 'Foot & hands bitten',
 'Laceration to heel, puncture wounds to dorsum of foot',
 'Laceration to leg',
 'Minor injury to left ankle',
 'Severe laceration to left leg',
 'Significant injuries to leg',
 'Injury to right hand / wrist',
 'Lacerations to calf',
 'Injury to right foot',
 'Minor laceration to hand',
 'No injury, shark struck board, tossing her into the sea',
 'Laceration to dorsum of foot by hooked shark  PROVOKED INCIDENT',
 'Inuries to lower left leg & ankle',
 'Right foot bitten',
 'Left foot & ankle bitten',
 'No injury, surfboard bitten',
 "No injury, shark struk sufer's leg and his board",
 'Severe laceration to left buttock & thigh',
 'Injuries to left calf, arm and hand',
 'Lacerations to right leg',
 'Right hand bitten  PROVOKED INCIDENT',
 'Lacerations and puncture wounds to hip, thigh, arm and hand',
 'Minor inuries to toes',
 'Minor injury to sole of foot',
 'No injury to occupant. Kayak bitten by gaffed shark. PROVOKED INCIDENT',
 'Arm bitten',
 'No injury, shark bumped & damaged board',
 'Lacerations to lower leg & ankle',
 'Lacerations to right hand & forearm',
 'Significant injuries to lower legs',
 'Injuries to torso, hip, lower leg & hands',
 'Shallow lacerations & puncture to lateral left leg',
 'Injuries to right calf, buttock and both hands',
 'Right leg severed, multiple lacerations to left leg',
 'Multiple lacerations to torso & leg',
 'Minor lacerations to forearm when he grabbed shark by its tail     PROVOKED INCIDENT',
 'Multiple lacerations to back',
 'Minor injury to calf ',
 'Arm amputated below shoulder',
 'Left arm amputated at elbow & severe injury to leg',
 'Severe laceration to leg',
 'Minor lacerations to foot',
 'Lacerations to right calf',
 'Puncture wound to finger',
 'Left forearm bitten',
 'Minor lacerations to dorsum of right foot',
 'Puncture wounds to lower left leg and ankle, shallow lacerations to foot, deep laceration to Achilles tendon',
 '2 puncture wounds to  dorsum of left foot',
 'Laceration to foot ',
 'Lacerations to lower left leg, ankle & foot',
 'Injuries to left arm & right hand',
 'Injuries to leg, left arm & both hands',
 'Leg severed at mid-thigh',
 'No injury, knocked off ski',
 'Lacerations to shoulder and left bicep',
 'Ankle injured',
 'Injuries to head & torso',
 'No injury but kayak bitten',
 'Lacerations to left forearm. Lacerations to left hand and thigh',
 'Bruised in falling overboard as shark bumped boat',
 'Thigh bitten',
 'No injury, shark bit rudder',
 'Laceration & puncture wounds to right flank & hip',
 '5 minor puncture wounds to lower left leg',
 "No injury, shark's teeth scratched hull",
 'Lacerations to calf by hooked shark PROVOKED INCIDENT',
 'No injury, surfboard dented',
 'No injury but shark bit trolling motor & rammed boat',
 'Shark bumped boat, no injury to occupants',
 'Bitten on hand & wrist',
 'Severe bite to right flank',
 'Lacerations to lower left leg, puncture wounds to sole of left foot',
 'Lacerations to both feet',
 'Of 9 bodies recovered, one was bitten by a shark',
 'Injury to hip/leg',
 'Laceration to calf when he fell on shark he had caught PROVOKED INCIDENT',
 "No injury, shark snagged its teeth in diver's suit",
 'Glancing bite to wrist from netted shark PROVOKED INCIDENT',
 'Minor injuries to right leg',
 'FATAL, arm bitten by shark hauled on deck             PROVOKED INCIDENT',
 'Shark chasing fish bumped boat, no injury to occupants',
 'Laceration to left hand',
 'Laceration to left upper leg',
 'Minor injury to lower leg and foot',
 'Minor injuries to hand & arm ',
 'Lacerations to fingers',
 'Laceration to dorsum of left foot when he stepped on the shark     PROVOKED INCIDENT',
 'No injury, paddleboard bitten',
 'No injury to occupant, canoe bitten',
 'Lacerations to left calf & ankle, puncture wounds to left foot',
 'Laceration to right hand/wrist',
 'Kayak deflated, no injury to occupants',
 'No injury to occupant, shark/s holded  kayak',
 'Lacerations to knee',
 'Left arm & right hand severed, lacerations to both legs',
 'Thumb & finger nipped',
 'No injury, shark bit kayak',
 'Bitten twice on the leg by a shark he was attempting to free from his line PROVOKED INCIDENT',
 'Injury to left calf',
 'Lacerations to shin',
 'Lacerations to foot by hooked shark PROVOKED INCIDENT',
 'Minor lacerations to posterior lower leg',
 'Lacerations to forearm from hooked shark PROVOKED INCIDENT',
 'Lacerations to face and neck',
 'Puncture wounds and lacerations to left thigh and knee',
 'Puncture wounds to right foot and ankle',
 'Puncture wounds to right foot & ankle',
 'Minor lacerations to left heel and big toe',
 'Lacerations to right leg & foot',
 'Lacerations to  foot',
 'Laceration to ankle',
 'Lower limbs & thigh bitten',
 'Lacerations to right wrist & calf',
 'Lacerations to right knee',
 'Lacerations to hand and wrist',
 'PROVOKED INCIDENT Torso bitten by shark hooked by an angler',
 'No injury, surboard bitten',
 'Right hand bitten',
 'His boat was holed by a shark',
 'No injury but shark took his pole spear',
 "No injury, surfboard 'attacked'",
 'Lacerations to right hand by captive shark PROVOKED INCIDENT',
 'Severe injury to arm',
 'Abrasion to right hand, lacerations to left forearm',
 'Minor injury to torso',
 'Left arm bitten',
 'Shallow lacerations & puncture wounds below shoulder',
 'Laceration to right lower leg',
 'Lacerations & puncture wounds to ankle and foot',
 'Lacerations to left thigh and hip',
 'Cut to tip of finger by a captive shark PROVOKED INCIDENT',
 'No injury, but surfboard severely damaged',
 'Lacerations and puncture wounds to right foot',
 '4-inch laceration to arm',
 'Laceration to right hand and cuts on fingertips',
 'Laceration & puncture wounds to right foot',
 'Minor lacerations to left foot',
 'No injury to occupants, shark bit pontoon',
 'Lacerations to leg & hand by hooked shark PROVOKED INCIDENT',
 'Minor puncture wounds to lower left leg',
 'Lacerations to toes and heel of right foot',
 'Shark leapt onto surfboard; surfer uninjured ',
 'Lacerations to toes',
 'No injury to occupants, hull bitten',
 'Possibly a PROVOKED INCIDENT',
 'Lacerations to ring and pinky fingers of his left hand by hooked shark PROVOKED INCIDENT',
 'Minor injury to left lower leg & heel',
 '5 cm bite to left foot',
 '"Minor laceration to shoulder"',
 'No injury to occupants, shark nudged and bit boat',
 'Injuries to left thigh',
 'Lacerations to right hand & knee',
 'Puncture wounds to hand, laceration to leg',
 'Right calf bitten',
 'No injury, board bumped by shark',
 'Injuries to arm & leg by hooked shark   PROVOKED INCIDENT',
 'No injury, swim fin bitten',
 'Severe bite to right calf & anklel',
 'Right leg severed',
 'No injury, swim fin shredded',
 '3" laceration to left hip',
 'Bitten on left calf & foot',
 'Injuries to torso, head and face',
 'Laceration to thigh',
 'Lacerations to  right forearm',
 'Hand bitten ',
 'Laceration and puncture wounds to ankle',
 'Lacerations to left foream',
 'No details',
 'Foot bitten when he accidentally jumped onto the shark PROVOKED INCIDENT',
 'Minor injury, shin bitten',
 'Shoulder bitten',
 'Arm bitten by captive shark PROVOKED INCIDENT',
 'Laceration to right arm from hooked shark  PROVOKED INCIDENT',
 'Lacerations to buttocks & thigh',
 'No injury, shark bumped surfboard',
 'No injury & not on board. Board adrift when bitten by shark',
 'No injury, shark became entangled in his surfboard leash',
 'Unknown, but survived',
 'Minor injury to foot & shin',
 'Lacerations to hand, face and torso',
 'Hip bitten',
 'Lower leg bitten',
 'Bitten on left hand',
 'Bitten on rear lower extremities',
 'Lacerations and abrasions to foot and ankle',
 '4 cuts to posterior calf',
 'No injury, holes in wetsuit ',
 'Right thigh bitten',
 'No injury, kayak scratched',
 'Bitten on lower right leg, reported as a minor injury',
 'Right thigh & calf bitten',
 'Left leg & hand bitten',
 'Lacerations to left ankle',
 'Puncture marks to hand',
 'Left hand bitten as he attempted to remove hook from shark PROVOKED INCIDENT',
 'Two fingers lost PROVOKED INCIDENT',
 'Superficial injury to left calf',
 'Lacerations to left foot and ankle',
 'Avulsion injury  to lower right leg',
 'Puncture wounds and lacerations to both legs',
 '"Light scratch on hand/wrist area"',
 'Minor lacerations to right hand',
 'Underside of board, fins and, harness were damaged, and left  hip, thigh and buttock sustained puncture wounds',
 'Toe injured',
 'Lacerations to left calf and heel from hooked shark PROVOKED INCIDENT',
 'Minor leg injuries',
 'Injuries to arms & hands',
 'No injury, shark bit rail of foam board',
 'Lacerations to right arm & thigh',
 'Knee bitten',
 'No injury to occupants, shark bit propeller',
 'Lacerations to neck',
 'Left forearm bitten ',
 'Minor cut on finger',
 'Calf & shin bitten ',
 'Lower leg or ankle bitten',
 'No injury, chunk missing from surfboard',
 'Lacerations to thigh and hand',
 'Minor puncture wounds to knee',
 'No injury, shark grabbed hood',
 'Lacerations to thigh & lower left leg',
 'Minor lacerations to left foot & heel',
 'Right lower leg and foot bitten',
 'Multiple lacerations to torso',
 'Puncture wounds to thigh, defense wounds  to hand',
 'Left calf bitten',
 'Minor bite to ankle',
 'Laceration to right leg',
 'No ijnury to boardrider, shark struck board breaking the mast',
 'No injury, but swim fin bitten & torn',
 'Injuries to thighs & buttocks',
 'Minor injury to elbow',
 'Puncture wounds to hand',
 'Puncture wounds to calf and hand',
 'Minor laceration to hand  PROVOKED INCIDENT',
 'Puncture wound to left ankle',
 'No injury, shoe bitten by hooked and landed shark PROVOKED INCIDENT',
 'Lacerations to torso and arm',
 'No injury, shark grabbed outboard motor',
 'Lacerations to little finger of left hand',
 'Right hand and foot severed',
 'No injury, surfer knocked off board when shark struck surfboard',
 'Lacerations to torso & arm',
 'Lacerations to both legs below the knees',
 'Lacerations to right ankle and calf',
 'Lacerattions to left thigh & knee',
 'Nip to left foot',
 'Laceration to left calf',
 'Knocked off board, shark bit nose off surfboard',
 'No injury, ski severely damaged',
 'Numerous puncture wounds to leg ',
 'Superficial injury to calf by hooked shark PROVOKED ACCIDENT',
 'Foot & hand bitten',
 'Lower left leg injured PROVOKED ACCIDENT',
 'No injury, ski bitten',
 'Severe laceration to foot',
 'Left hand severed',
 'No injury, teethmarks in kayak',
 'Lacerations to head',
 'No injury, kayaker fell in the water when kayak bitten by a shark',
 'Upper left thigh bitten',

----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Could not sort values: '<' not supported between instances of 'float' and 'str'
..so let's try filtering NULL values and then sorting

[' 2 of the 5 fishermen were so seriously injured they died of their wounds',
 ' 3 fingers & thigh lacerated, foot crushed',
 ' 55  perished, some were  taken by sharks',
 ' 6 lacerations to left hand',
 ' Ankle lacerated',
 " Du Val's leg was bitten but he survived",
 ' FATAL',
 ' FATAL. Shark bite was minor injury, but he suffered a heart attack afterwards and died 6 hours later',
 ' No injury',
 ' No injury. Shark bumped kayak, flinging her into the  water. ']

['Wrist lacerated PROVOKED INCIDENT',
 'bite to lower leg',
 'forearm abraded',
 'minor injury to foot',
 'non-fatal',
 'remains of one of the crew found in shark',
 'sharks rammed boats, no injury to occupants',
 'small laceration to wrist',
 'unknown',
 '\x93Put hand through hatch, shark nearly bit off thumb\x94']

----------------------------------------
C: Casting to type: string
----------------------------------------
Casting to string was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

FATAL                                                                   780
Survived                                                                 94
Foot bitten                                                              87
Leg bitten                                                               70
No injury                                                                60
                                                                       ...
Left hand & forearm bitten, board bitten                                  1
Legs & torso injured                                                      1
No Injury, ski bitten                                                     1
No injury to occupant: boat lost                                          1
FATAL. "Shark bit him in half, carrying away the lower extremities"       1
Name: Injury, Length: 3334, dtype: int64

In [18]:
# Check Fatal_(Y/N) column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Fatal_(Y/N)', 'string')

replace_value(shark_attacks, 'Fatal_(Y/N)', np.nan, None)
replace_value(shark_attacks, 'Fatal_(Y/N)', 'y', 'Y')
replace_value(shark_attacks, 'Fatal_(Y/N)', ' N', 'N')
replace_value(shark_attacks, 'Fatal_(Y/N)', 'N ', 'N')
replace_value(shark_attacks, 'Fatal_(Y/N)', '2017', None)
replace_value(shark_attacks, 'Fatal_(Y/N)', 'M', None)
replace_value(shark_attacks, 'Fatal_(Y/N)', 'UNKNOWN', None)

********************************************************************************
Finding non-default missing values for column 'Fatal_(Y/N)'
********************************************************************************
Column 'Fatal_(Y/N)' has datatype: object


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 9)
Could not sort values

['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y']

----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Could not sort values: '<' not supported between instances of 'float' and 'str'
..so let's try filtering NULL values and then sorting

[' N', '2017', 'M', 'N', 'N ', 'UNKNOWN', 'Y', 'y']

[' N', '2017', 'M', 'N', 'N ', 'UNKNOWN', 'Y', 'y']

----------------------------------------
C: Casting to type: string
----------------------------------------
Casting to string was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

N          4279
Y          1380
UNKNOWN      70
NaN          15
 N            7
M             1
2017          1
N             1
y             1
Name: Fatal_(Y/N), dtype: int64

In [19]:
# Check Species column for null values and change to appropriate value
find_non_default_missing_values(shark_attacks, 'Species', 'string')

replace_value(shark_attacks, 'Species', np.nan, None)
replace_value(shark_attacks, 'Species', ' ', None)
replace_value(shark_attacks, 'Species', '\xa0 ', None)

********************************************************************************
Finding non-default missing values for column 'Species'
********************************************************************************
Column 'Species' has datatype: object


----------------------------------------
A: Looking at unique values
----------------------------------------
Less than 5755 unique values (total: 1493)
Could not sort values

['White shark',
 nan,
 '2 m shark',
 'Tiger shark, 3m',
 'Tiger shark',
 "Lemon shark, 3'",
 "Bull shark, 6'",
 'Grey reef shark',
 'Tawny nurse shark, 2m',
 'Shark involvement not confirmed',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'White shark, 2.5 m',
 "6' shark",
 'Juvenile bull shark',
 'Bull shark',
 "Tiger shark, 12'",
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'Bull shark, 2 m',
 'Galapagos shark?',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'small shark',
 'Wobbegong shark?',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Some drowned but other may have been killed by blue sharks',
 'White shark, 4.6 m',
 'Cookiecutter shark',
 'Wobbegong shark, 1 m',
 'White shark, 4.5 m',
 'Spinner shark, 4 to 5 feet',
 'Tiger shark, 8 to 10 feet',
 "8' shark",
 "5' shark",
 "4' to 5' shark",
 'Porbeagle, 1.5 m',
 'White shark, 3.5m',
 "5' to 6' shark",
 'White shark, 3 to 3.5m ',
 'Nurse shark',
 'White shark, 3 m',
 "White shark, 5' to 7'",
 'Possibly a juvenile blacktip shark',
 'Oceanic whitetip shark, 1.8 to 2 m',
 "4' shark",
 "White shark, 10'",
 "Sandtiger shark  2'",
 "Blue shark 6'",
 '"A small shark"',
 "White shark, 11' to 13'",
 "White shark, 8' to 10'",
 "White shark, 9'",
 "Bull shark, 4' to 5'",
 'Tiger shark, 100 kg',
 'Bull shark, 2m',
 'White shark, 4 m',
 'Seven-gill shark',
 '3m shark, probably a smooth hound',
 "3' shark",
 "9' shark",
 "Bull shark, 5' to 7'",
 "10' shark",
 'Lemon shark',
 'Bull shark, 1.5',
 'Lemon shark pup',
 "White shark, female, 14'",
 'Caribbean reef shark',
 'Bull shark, 4 m',
 'Bull shark, 1 m',
 'a small shark',
 'Wobbegong shark, 2m',
 'Broadnose sevengill shark, 1.5 m',
 " 6' to 8' shark",
 "3' to 4' shark",
 "Tiger shark, 10'",
 'Bull shark, 3.5 m',
 "Tiger shark, 10' ",
 'Blue shark',
 "Nurse shark, 4'",
 'reef shark, 1m',
 "White shark, 10' to 12'",
 "Lemon shark, 9'",
 'Angel shark',
 'dogfish shark',
 'Tawny nurse shark',
 "Caribbean reef shark, 4.5'",
 "3' to 5' shark",
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 "Mako shark, 1.5 m [5'] ",
 'Grey reef shark, 2 m',
 "Bull shark, 7'",
 'Tiger shark, 2.5 m',
 'Nurse shark, 2.5-ft',
 'Bronze whaler',
 'Sandtiger shark',
 "Reef shark, 5'",
 'Bull sharks x 2',
 "Tiger shark, 14'",
 "Silky shark, 6.5'",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'Galapagos shark',
 "Spinner shark, 7'",
 'Bull shark, 2.8 to 3.1 m',
 "Spinner shark, 5'",
 "Tiger shark, 7'",
 'Hammerhead sp.',
 "Tiger shark, 13' ",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 "White shark, 19'",
 'juvenile shark',
 "Tiger shark, 13'",
 'Hammerhead shark',
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 "4' shark?",
 "White shark, 10' to 12' ",
 "White shark, 13'",
 "Hammerhead shark. 6' to 7'",
 "Blacktip or spinner shark, 4'",
 'White shark, 3.9 to 4.2 m',
 'Mako shark, 100-lb',
 'Bronze whaler shark, 1.5m',
 "White shark, 7'",
 "6' to 7' shark",
 'White shark, 2m to 3 m',
 "Bull shark, 5'",
 'small nurse shark',
 'Bull shark, 2.5 m',
 '1m to 1.2 m shark',
 '3- to 4-foot shark',
 'White shark, 6 m',
 'Blue shark, 8 to 9 feet',
 'Tiger shark, 8 to 12 feet',
 'Blacktip Reef shark ',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 'Bull shark, 1.3 m',
 '5 m shark',
 '1.5 m shark',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Goblin shark',
 "2' shark",
 "12' to 14' shark",
 '1 m shark',
 "Bull shark, 3' to 4'",
 "White shark, 18' to 20'",
 "8' to 10' shark",
 '2 white shark: 13\' & 9"8"',
 "7' shark",
 "White shark, 12' to 14'",
 'Spinner shark',
 'Spinner shark or blacktip shark',
 "4' to 6' shark",
 "Bull shark, 4.5' ",
 'reef shark',
 " Bull shark, 8'",
 "Bull shark, 9' to 10'",
 " Bull shark, 5'",
 "4' tp 5' shark",
 'Possibly juvenile tiger shark',
 '1.8 metre shark',
 "6' to 8' shark",
 " White shark, 7' ",
 "Oceanic whitetip shark'",
 "Caribbean reef shark, 7' to 8'",
 ' Lemon shark, 3.5 m',
 " Sandbar shark, 3' to 4'",
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 " white shark, 15' ",
 'Cow shark',
 'reef shark?',
 ' Raggedtooth shark, 2m',
 '3 m to 4 m white shark',
 'Blacktip or spinner shark?',
 'Blacktip reef shark ',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'Oceanic whitetip shark',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 "Tiger shark, 10' to 12'",
 ' Wobbegong shark, 1.6 to 1.8m ',
 'Tiger shark, 3m ',
 'Thought to involve a white shark',
 "White shark, 10 '",
 'Reported to involve a white shark',
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 'Reported to involve a 4 m white shark',
 "Whitetip reef shark, 4' to 6'",
 'Nurse shark?',
 'Small bull shark',
 'Salmon shark',
 "Mako shark, 5'",
 'Tiger shark?',
 "Bull shark, 8'",
 "Bull shark, 6' to 8'",
 "Tiger shark, 8' to 10' ",
 "Possibly a Bull shark, 3'",
 "Lemon shark, 4'",
 'Wobbegong, 2m',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'White shark, 4m',
 'White shark, 5m',
 "Tiger shark, 15'",
 'Bronze whaler shark, 3m',
 '2.5 m shark',
 'Bull shark, 2m ',
 "Tiger shark, 6'",
 "2' to 3' shark",
 "Tiger shark, 8'",
 "Tiger shark, 10' to 12' ",
 "White shark, 15' to 16' ",
 '2m shark',
 'Possibly a 3 m bull shark',
 "3.5' to 4' shark",
 "Porbeagle shark, 7'",
 '4.5 m shark',
 "Lemon shark, 4' to 5' ",
 'Lemon shark, 2.5m to 3m ',
 'White shark or bronze whaler',
 "14' to 18'shark",
 "15' shark",
 'possibly a bull shark',
 'a small reef shark',
 'small blacktip shark?',
 'Blacktip shark ',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 '18" to 24" shark',
 'Bull shark, 3m',
 "Tiger shark, 8' to 9' ",
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 "Tiger shark, 10'  ",
 'White shark, 4m ',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 'Tawny nurse shark, 40cm',
 'Grey nurse shark',
 'White shark, 7m',
 'Blue shark, 70-kg blue shark',
 'White shark, 2.7 m',
 'Allegedly a 4 m tiger shark',
 "7' to 8' shark ",
 'White shark, 2.5m',
 "White shark, 15' to 16'",
 'Raggedtooth shark',
 "White shark, 15'",
 'Port Jackson shark, 1m',
 "10' to 12' shark",
 '2 to 2.5 m shark',
 'Tiger shark, 2m',
 "6' shark, possibly a blactip or spinner shark",
 "White shark, >6'",
 "Possibly a 5' to 6' sandtiger shark",
 '4 m shark',
 'Grey reef shark ',
 'White shark, 3m to 4m',
 'Bull shark, 3m female',
 "White shark, 5' k",
 "Oceanic whitetip shark, 7'",
 "Sevengill shark, 6' to 8'",
 'Zambesi shark',
 ' Tiger shark, 2.8m',
 "Sandbar shark, 8'",
 "Bull shark, 12'",
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'Blacktip shark pup',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'White shark x 2',
 'Oceanic whitetip shark, 2.5m ',
 'Mako shark ',
 'Oceanic whitetip shark, 2.5m, female',
 "Porbeagle shark, 8' ",
 "White shark, 14' to 18' ",
 'Bull shark, 1.4m ',
 "Possibly a 6' lemon shark",
 'Possibly a small blacktip shark',
 "Sandtiger shark, 4' to 5'",
 'A small spinner shark',
 'Nurse shark, juvenile ',
 "Blue shark, 7'",
 '20 to 30kg shark',
 "Lemon shark, 6'",
 "14' shark",
 "Oceanic whitetip shark, 6'",
 'Possibly a blue shark',
 'Wobbegong shark, 1.6m',
 '2 m to 3 m shark',
 "Spinner shark, 6'",
 'Thought to involve a juvenile hammerhead shark',
 'Whitetip reef shark, 1m',
 'Zambesi shark, 2m ',
 'White shark, 2.8 to 3 m ',
 "Sandtiger shark, 8'",
 'Thresher shark',
 "Bull shark, 10'",
 'Spurdog',
 "White shark, 5' to 6' juvenile ",
 'White shark, 2m',
 'Tiger shark, 12',
 'Bull shark?',
 "Caribbean reef shark, 6'",
 "Nurse shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Oceanic whitetip shark, 2.5 to 3m',
 '80 kg shark',
 "5' to 8' shark",
 'blacktip or spinner shark',
 "White shark, 12' to 15' female",
 'Bronze whaler shark?',
 'Blacktip reef shark pup',
 'Thought to involve a cookie cutter shark',
 'Wobbegong shark, 60cm',
 'Blue shark, 1m',
 '2.6 m shark',
 'White shark, 2.5m ',
 'Bull shark, 2.7 m ',
 "White shark, 12' ",
 'White shark, 5.5 m ',
 'White sharks',
 'Dusky shark, 2m',
 'Mako shark, 3m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m ',
 '4 to 5m white shark',
 'Raggedtooth shark, 2m',
 'White shark, 4.5 to 5 m ',
 'Zambesi shark?',
 'Bronze whaler shark',
 ' reef shark, 1.8m',
 '5 m white shark',
 "+3' shark",
 "2' to 3' juvenile shark",
 "White shark, 14' to 16' ",
 "8' bull shark or Caribbean reef shark",
 "8' white shark or 7-gill shark",
 "3'  shark",
 "2'  shark",
 "2' to 3' reef shark",
 'Starry smoothhound shark, 1m',
 "Bull shark, 6' to 7'",
 'White shark, 4.5m',
 "4.5 to 5' shark",
 'Basking shark',
 'Tiger sharks in area',
 '2 small bull sharks',
 'Bull shark, 1.8m',
 "White shark, 12' to 15'",
 'Tiger shark, 2.3m ',
 "1.5' to 2' shark",
 "2.5' shark",
 'A bull shark, according to some of the divers on the boat',
 "Goblin shark, 4.2'",
 'Blacktip shark, 2m',
 'Mako shark, 90kg',
 'Bronze whaler shark, 4m',
 "Nurse shark, 10'",
 'Possibly a hammerhead shark',
 '"a small shark"',
 '2.27 m shark',
 '1.5 to 2 m shark',
 "Blacktip shark, 5'",
 'Oceanic whitetip sharks were in the vicinity',
 'Gray reef shark',
 "9.5' shark?",
 "Nurse shark, 2' to 3' ",
 'Possibly a spinner shark',
 "White shark, 12'",
 'Sand shark',
 "Possibly a 6' bull shark",
 ' ',
 "Possibly a 10' bull shark",
 'Bronze whaler shark, 1.5 m ',
 "3' small spotted catshark, Scyliorhinus canicula",
 "Bull shark, 5' ",
 "Lemon shark, 6' female ",
 'A 10-year-old 94-pound pregnant blacktip reef shark',
 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
 'White shark, 2m ',
 "Tiger shark, 14' ",
 'Lemon shark, >1 m ',
 "Bull shark, 10' ",
 'White shark, 3m',
 '2.4 m shark',
 "6' to 8' shark, possibly a tiger shark",
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 "White shark, 12' to 15' ",
 'Raggedtooth shark, 150-kg',
 'White shark, 5m ',
 'Bull shark, 1.5m ',
 "White shark, 16' ",
 "1' to 4' shark",
 "3' to 3.5' shark",
 'White shark, 3.5m ',
 'small catsharks',
 'White shark?',
 "Bull shark, 4' to 5' ",
 'Angel shark, 1.2m ',
 'Bull or tiger shark',
 "5' to 6' spinner or bull shark",
 '1.8 m blacktip "reef" shark',
 "Possibly a 1' to 3' blacktip or spinner shark",
 "14' white shark",
 "Tiger shark, 8' to 12'",
 "Tiger shark, 15' female",
 "Grey reef shark, 5' to 8' ",
 'Wobbegong shark, 2 m ',
 "Bull shark, 4' to bull shark",
 'Bronze whaler shark, a  juvenile ',
 'Raggedtooth shark, 2.5 m to 3 m ',
 '3 m, 600-kg shark',
 "Tiger shark, 5' ",
 'Bronze whaler shark, 2 m',
 "5' to 7' shark",
 '4.5 m white shark',
 "12' to 18' shark",
 "12' shark",
 '3.5 m white shark',
 'Said to involve a 1.5 m shark',
 'Whitetip reef shark',
 '4 m white shark',
 '3 m white shark',
 'Raggedtooth shark, 2.5m ',
 "12' to 14' white shark",
 "18' white shark",
 "Tiger shark, less than 10'",
 'Caribbean reef sharks',
 'Tiger shark, 3 m ',
 "14' to 16' white shark",
 "4 m [13'] white shark",
 "2 m [6.75'] shark, 200-kg shark T",
 'juvenile white shark',
 'Possibly a sandbar shark or small blacktip shark',
 "1.8 m [6'] shark",
 "3.5 m [11.5']shark",
 "[4.5' to 5'] shark",
 "[4' to 5']",
 "1.8 m [6'] bull shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 'Unknown, but it was reported that a shark tooth was recovered from the wound',
 "3 m [10'] white shark",
 '"small shark"',
 '18" to 36" shark',
 "Tiger shark, 3 m [10']",
 "2 m [6.75'] copper shark",
 "1.8 m [6'] blacktip shark",
 'small hammerhead shark',
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Sandtiger shark, 2.1 m [7'] ",
 "Bronze whaler shark, 4.3 m [14'] ",
 "Nurse shark, 3' ",
 "Tiger shark, 2.4 m [8']",
 "1.8 m [6'] Caribbean reef shark",
 "3 m [10'] shark",
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
 '4.5 m & 5 m white shark ',
 "5.5 m [18'] white shark",
 "2.5 m [8.25'] bull shark",
 "2 m [6.75'] white shark",
 "Bronze whaler shark, 2.4 m [8'] ",
 "1.8 m to 2.4 m [6' to 8'] white shark",
 "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 'Thought to involve a 2.5 m bull or tiger shark',
 "Tiger shark, 3 m [10'] ",
 "2.4 m [8'] shark",
 "0.9 m to 1.2 m [3' to 4'] white shark",
 "4.9 m to 5.5 m [16' to 18'] white shark",
 "1.2 m [4'] shark",
 "3 m to 4 m [10' to 13']  white shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ",
 '2 sharks, 4.5 m & 3 m ',
 '"black tipped" shark',
 '9\'2" white shark',
 "Bronze whaler shark, 2.5 m [8.25'] ",
 "0.9 m to 1.5 m [3' to 5'] shark",
 "2.4 m to 3.7 m [8' to 12'] shark",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Mako shark, 1.8 m [6']",
 "Wobbegong shark, 1.2 m [4'] k",
 "White shark, 5.5 m [18']",
 'small sharks',
 "5 m [16.5'] white shark",
 "1.2 m [4'] bull shark",
 'bull shark',
 "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
 "Bronze whaler shark, 1.5 m [5'] ",
 "2 m [6.75'] sevengill  shark",
 '60 cm [23.6"] blind or brown shark',
 "4 m to 5 m [13' to 16.5'] white shark",
 'Possibily a  1.5 to 2 m sandtiger shark',
 'Bull shark, 1.65 m [5\'5"] was speared & killed',
 'Bull shark, 132-kg [291-lb] ',
 "Mako shark, 3 m to 4 m [10' to 13'] ",
 "Raggedtooth shark, 3.5 m [11.5'] ",
 'Shortfin mako shark',
 "Wobbegong shark, 1.2 m [4'] ",
 "Tiger shark, 4 m [13']  ?",
 '2.5 oceanic whitetip shark',
 "Nurse shark, 60 cm to 90 cm [2' to 3'] ",
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 '1.2 m [4\'] "grey-colored shark"',
 '2 m cow shark',
 "4.5 m to 5.5 m [15' to 18'] white shark",
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "1.5 m to 1.8 m [5' to 6'] shark",
 "2.1 m  [7'] bull shark",
 "8' great hammerhead shark",
 "106 cm [3.5']  shark",
 '\x93small brown shark\x94',
 "3.7 m to 4.3 m [12' to 14'] shark",
 '"sand shark"',
 "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 'A \x93small\x94 shark',
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
 "Mako shark, 3 m [10']",
 "60 cm [2'] captive shark",
 "2.5 m [8.25'] white shark",
 'Species unidentified',
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 'Reported to involve a hammerhead shark',
 'White shark, 4 m white shark',
 'Wobbegong shark, 1m',
 "3 m to 4.5 m [10' to 15'] white shark",
 "2.4 m to 3 m [8' to 10'] grey colored shark",
 "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ",
 'Possibly a bull shark or tiger shark',
 'Blacktip or spinner shark',
 "3.5' to 4.5' shark",
 "1.2 m [4'] blacktip shark",
 "Tiger shark, 1.5 m [5']k",
 "3 m to 3.7 m [10' to 12'] shark",
 "1' to 2' hammerhead or bonnethed shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "Nurse shark, 1.5 m [5'] ",
 "Sandtiger shark, 3 m [10'] ",
 "1.2 m [4'] blacktip or sandbar shark",
 "Bull shark, 1.8 m to 2.1 m [6' to 7'] ",
 'Mako shark, 400-lb ',
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 "Tiger shark, 2.4 m to 2.7 m [8' to 9']  ",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 '\xa0 ',
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "3.7 m to 4.3 m [12' to 14'] white shark",
 '1 m  shark',
 "3' blacktip shark",
 "2.1 m to 2.4 m [7' to 8'] shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb ',
 "0.9 m [3'] shark",
 'Nurse shark, 1m ',
 "Spinner shark, 3' to 4' ",
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 'Unidentified',
 "Tiger shark, 1.8 m [6'] ",
 "Mako shark, 2 m [6.75'] ",
 "Tiger shark, 1.8 m [6']",
 "2' to 3.5' shark",
 "12' sandtiger shark",
 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
 "1.5 m [5'] shark",
 "3 m [10'] bull shark",
 'Possibly  a blacktip or spinner shark',
 "3' shark, possibly  a blacktip or spinner shark",
 "Blacktip shark, 5' to 6' ",
 "1.9 m [6.5'] bull shark",
 "Mako shark, 14' ",
 "0.9 m  [3'] shark",
 "Bull shark, 2.3 m [7.5'] ",
 "White shark, 2.4 m to 3 m [8' to 10'] ",
 "1.2 m to 1.5 m [4.5' to 5'] shark",
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 'Possibly a juvenile blacktip or spinner shark',
 "Possibly a 1.5 m [5'] blacktip or spinner shark",
 '1 m shark, possibly whitetip reef shark',
 "White shark, 2.7 m [9'] ",
 "Spinner shark, 1.2 m to 1.5 m [4' to 5'] ",
 "Tiger shark, 8' ",
 "White shark, 5 m [16.5'] ",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "2 m [6.75'] shark",
 "White shark, 4.3 m [14'] ",
 '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"',
 "6 m [20'] shark",
 'White shark, 4.5 m [14\'9"] ',
 "Porbeagle shark, 3 m [10']rk",
 'Tiger shark, 4 m ',
 "1.2 m to 1.8 m [4' to 6'] shark",
 "White shark, 4.9 m [16'] ",
 "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
 "2.1 to 2.4 m [7' to 8'] shark",
 "Blacktip shark, 2' ",
 "White shark, 4.3 m [14']",
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 '100-kg [221-lb] dead blue shark',
 'White shark, 2.5 m ',
 "60 cm to 90 cm [2' to 3'] shark",
 "White shark, 3.5 m [11.5']  male ",
 'Thought to involve a Zambesi shark',
 "A 2' shark was seen in the area by witnesses",
 "Thought to involve a 2.7 m [9'], 400-lb bull shark",
 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
 "Blacktip shark, 2.4 m to 3 m [8' to 10'] ",
 "Nurse shark, 1.5 m [5']",
 "1.8 m [6'] grey-colored shark",
 "Grey reef shark, 2 m [6.75'] ",
 "Lemon shark, 2.1  m to 2.4 m [7' to 8'] ",
 "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
 "Nurse shark, 1.2 m [4'] ",
 "0.9 m [3'] shark,  probably a blacktip or spinner shark",
 "Bull shark, 2.4 m [8']",
 "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ",
 'Tiger sharks & bull sharks (20 sharks in all)',
 "Tiger shark, 4 m [13'] ?",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
 'Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks',
 'Sevengill shark',
 'Thought to involve a white, bull or tiger shark',
 "White shark, 3 m [10'] ",
 '1.3 to 1.6 m shark',
 "Grey reef shark, 1.2 m [4'] ",
 "Lemon shark, 2.7 m [9'] ",
 "Said to involve a 7 m [23'] white shark",
 "2.7 m [9']  bull shark or Caribbean reef shark",
 "White shark, 3 m to 5 m [10' to 16.5'] ",
 "Bull shark, 2.1 m [7']",
 "Blacktip shark, 1.8 m [6'] ",
 "White shark, 4 m [13'] ",
 "Tiger shark, 2.5 m [8.25']",
 'Grey reef shark, 1.5 m ',
 '3 bull sharks',
 "Sevengill shark, 2.4 m [8'] ",
 '200 to 300 kg shark',
 'Mako shark, 1.3 m gaffed ',
 "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
 'Bronze whaler or tiger shark',
 "White shark, 4.6 m [15'] ",
 'Possibly a white shark',
 'A "small shark"',
 "White shark, 5 m  to 6 m [16.5' to 20'] ",
 'Though to involve a white shark',
 "White shark, 5 m to 6 m [16.5' to 20'] ",
 "Dusky shark, 12' ",
 "Caribbean reef shark, 1.2 m to 1.5 m [4' to 5'] ",
 "4.5' to 5' shark",
 'Sandtiger shark, 2 m, male ',
 "White shark, 4.9 m [16']",
 "Raggedtooth shark, 1.2 m [4'] ",
 'Thought to involve a 5.5 m white shark named Kong',
 "3 m to 4 m [10' to 13'] white shark",
 "Lemon shark, 1.5 m [5'], identified  by the surfer",
 "1.8 m [6'] shark, possibly a blacktip",
 "Nurse shark, 0.9 m [3'] ",
 "5' spinner shark",
 '1.7 m shark',
 'Small dusky shark or blackfin shark',
 'sandtiger shark',
 "Tiger shark, 4 m to 4.3 m [13' to 14'] ",
 'Possibly a blacktip shark',
 'Soupfin shark',
 'small blacktip shark',
 "Tiger shark, 5.2 m [17']",
 'Thought to involve an oceanic whitetip shark or a white shark',
 '"juvenile shark"',
 "Tiger shark, 2.7m  [9']",
 "1.2 m [4'] shark (spinner shark?)",
 'Possibly a sand shark',
 'Possibly a Caribbean reef shark',
 '3.7m  to 4.2 m white shark',
 'Tiger shark, 2m to 3m ',
 "1.8 m to 2.1 m [6' to 7'] shark",

----------------------------------------
B: Sorting and looking at the edges
----------------------------------------
Could not sort values: '<' not supported between instances of 'float' and 'str'
..so let's try filtering NULL values and then sorting

[' ',
 ' "gummy" shark (Rhizoprionodon or Loxodon) 1.2 m [4\']',
 " 1.5 m [5'] dusky shark",
 " 6' to 8' shark",
 " Blacktip shark, C. maculipinnis. 1.9 m to 2.1 m [6.5' to 7'] ",
 ' Bull shark, 1.2m ',
 ' Bull shark, 2.5 m',
 " Bull shark, 5'",
 " Bull shark, 8'",
 " Galapagos shark, 6'"]

['small hammerhead shark',
 'small nurse shark',
 'small shark',
 'small sharks',
 "small sharks'",
 'unknown, possibly a white shark',
 'whaler shark',
 'white shark',
 '\x93small brown shark\x94',
 '\xa0 ']

----------------------------------------
C: Casting to type: string
----------------------------------------
Casting to string was successful


----------------------------------------
D: Looking at frequency
----------------------------------------

NaN                                                                                                                              2817
White shark                                                                                                                       161
Tiger shark                                                                                                                        73
Bull shark                                                                                                                         51
6' shark                                                                                                                           40
                                                                                                                                 ...
White shark, 4.5 m [14'9"]                                                                                                          1
1.8 m to 2.4 m [6' to 8'] "black finned shark"                                                                                      1
White shark, 4.3 m [14']                                                                                                            1
Bronze whaler shark, 2.5 m [8.25']  k                                                                                               1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: Species, Length: 1493, dtype: int64

# **Find an appropriate value for the shark species**

In [20]:
# read dataset with the scientific and common names of sharks
all_shark_species = pd.read_csv('/content/drive/MyDrive/OefendataWinc/SharkSpecies.csv', encoding='unicode_escape', on_bad_lines='skip')


# Prepare dataset
# Add empty column for the common names
all_shark_species['Shark_common_name'] = ''

# Remove unnecessary rows
remove_rows = ['ORDER', 'Family', 'Genus']

for index, row in all_shark_species.iterrows():
  for item in remove_rows:
    if item in row['Taxonomic listing']:
      all_shark_species.drop([index], axis=0, inplace=True)


# Find common name
for index, row in all_shark_species.iterrows():  
  split_names = row['Taxonomic listing'].split('(')

  # If a shark has a common name, add this name to a new column
  if len(split_names) == 1:
    row['Shark_common_name'] = split_names[0]
  
  # Else use the scientific name
  else:
    split_names[1] = split_names[1].strip(' )')
    row['Shark_common_name'] = split_names[1]
  
  # Replace gray with grey
  row['Shark_common_name'] = row['Shark_common_name'].replace('gray', 'grey')
  row['Shark_common_name'] = row['Shark_common_name'].replace('Gray', 'Grey')


# Transfer the common name to a list with keywords
search_keywords = []
for index, row in all_shark_species.iterrows():  
  split_shark_species = row['Shark_common_name'].split(' ')
  search_keywords.append(split_shark_species)

In [21]:
# Function to find the name of the sharks
def get_shark_name(value, index):
    space_index = value.rfind(' ', 0,index-1)
    if space_index == -1:
        return value[:index+5]
    else:
        return value[space_index+1:index+5]


# Function to clean-up the name of the sharks
def clean_up_shark_species(shark):
  shark = re.sub("\d", "", shark)

  # Replace characters
  char_to_replace = {'"' : '', "'" : '', ' m ' : '', '.' : '', '-lb' : '', 
                     '-gill' : '', 'kg ' : '', '[' : '', ']' : '',
                     '-foot' : '', '>' : '', 'small' : '', 'juvenile' : ''}

  for key, value in char_to_replace.items():
    shark = shark.replace(key, value)

  return shark

In [22]:
# Find the appropriate common name if possible
# Add empty column to the original dataframe for the common name
shark_attacks['Shark'] = ''


# Find a proper common name for every shark if possible
for index, row in shark_attacks.iterrows():
  # If the value for the species is empty, then use None
  if row['Species'] == None:
    row['Shark'] = 'Unknown'


  # If the value for the specisies is not empty, try to find the common name
  elif row['Species'] != None:
    # Get the value and clean it up
    shark_value = row['Species']
    shark_value = clean_up_shark_species(shark_value)

    # Find the index of the word 'shark'
    shark_indexes = [m.start() for m in re.finditer('shark', shark_value)]

    
    # If no 'shark' is detected
    if len(shark_indexes) == 0:
      row['Shark'] = 'Uncertain if it was a shark'

    
    # If column only contains value 'shark'
    elif len(shark_indexes) == 1 and shark_indexes[0] < 2:
      row['Shark'] = 'Shark not identified'

    
    # If 'shark' is detected more than one time
    elif len(shark_indexes) > 1:
      # If 'shark' is the first word
      if shark_indexes[0] == 0:
        row['Shark'] = 'Species uncertain'
      
      # If column contains ' or ', there are multiple options
      elif ' or ' in shark_value:
        row['Shark'] = 'Species uncertain'

    # If 'shark' is detected one time and it is not on index 0
    elif len(shark_indexes) == 1 and shark_indexes[0] != 0:
      # If column contains a question mark
      if '?' in shark_value:
        row['Shark'] = 'Species uncertain'
      
      # Else try to find the common name by comparing the keywords obtained 
      # from the dataframe with the shark species names
      else:
        for keyword_list in search_keywords:
          index = search_keywords.index(keyword_list)
          if all(word in row['Species'] for word in keyword_list):
            row['Shark'] = ' '.join(keyword_list)


# For all the values in the 'Shark' column that are still empty, try to find 
# common name based on the value in the 'Species' column
empty_values = shark_attacks[shark_attacks['Shark'] == ''].index
if len(empty_values) != 0:
  for i in empty_values:
    empty_species = shark_attacks['Species'].loc[i]
    empty_species = clean_up_shark_species(empty_species)

    shark_index = [m.start() for m in re.finditer('shark', empty_species)]
    new_name = get_shark_name(empty_species, shark_index[0])
    new_name = new_name.strip().capitalize()
    shark_attacks['Shark'].loc[i] = new_name


# Detect the rows where the 'Shark' column only contains the value shark and 
#replace this value
for index, row in shark_attacks.iterrows():
  if row['Shark'] == 'Shark':
    row['Shark'] = 'Shark not identified'

# **Add an age category**

In [23]:
# Determine age category (Child, Adult, Child or Adult, of both)
# Add empty column to dataframe
shark_attacks['Age_Category'] = ''

# Change values in 'Age' column to lower case
shark_attacks['Age'] = shark_attacks['Age'].str.lower()
# Remove leading and trailing spaces
shark_attacks['Age'] = shark_attacks['Age'].str.strip()
# Replace unwanted characters
char_to_replace = {'"' : '', "'" : '', 's' : '', '(' : '', ')' : '', 
                    '>' : '', 'mid-' : '', '1/2' : ''}
# Set requirements for child category
child = ['teen', 'young', 'month']


for index, row in shark_attacks.iterrows():
  # If 'Age' is None, then set 'Age_Category' to None
  if row['Age'] == None:
    row['Age_Category'] = 'Unknown'


  # If 'Age' contains an element from child, then set 'Age_Category' to 'Child'
  elif any(value in row['Age'] for value in child):
    row['Age_Category'] = 'Child'

  
  elif row['Age'] != None:
    for key, value in char_to_replace.items():
      row['Age'] = row['Age'].replace(key, value)


    # Split values in 'Age' based on space
    split_ages = row['Age'].split(' ')
    # Get the integers
    ages = [int(age) for age in split_ages if age.isdigit()]


    # If 'Age' contains age of multiple victims
    if '&' in split_ages:
      if all(number < 18 for number in ages):
        #print(f'Multiple ages below 18 {index}')
        row['Age_Category'] = 'Child'

      elif all(number >= 18 for number in ages):
        #print(f'Multiple ages equal to or above 18 {index}')
        row['Age_Category'] = 'Adult'

      else:
        #print(f'Child and adult {index}')
        row['Age_Category'] = 'Child and Adult'


    # If it's not sure what the age of the victim is
    elif 'or' in split_ages:
      if all(number < 18 for number in ages):
        #print(f'All ages below 18 {index}')
        row['Age_Category'] = 'Child'

      elif all(number >= 18 for number in ages):
        #print(f'All ages equal to or above 18 {index}')
        row['Age_Category'] = 'Adult'

      else:
        #print(f'Child or aduls {index}')
        row['Age_Category'] = 'Child or Adult'

    # If 'Age' is just one number
    else:
      for age in ages:
        if age < 18:
          row['Age_Category'] = 'Child'

        else:
          row['Age_Category'] = 'Adult'

# **Question 1: What are the most dangerous types of sharks to humans?**

**Assumptions during data preparation**
<br/>
There was no uniform way that the shark species were recorded in the data set. This made it more difficult the analyze the attacks based on the species that were involved. To create a more uniform way, the following assumptions were made:
- When no shark species was recorded, the case was categorized as 'Unknown'.
- When there was no mentioning of the word âsharkâ in the description, then it is assumed that it was not certain a shark was involved in the accident. These cases were categorized as: âUncertain if it was a sharkâ. In some cases, the shark name was not fully mentioned, but was abbreviated by removing the word 'shark'. Because the description didn't contain the word 'shark' it was categorized as if 'Uncertain if it was a shark'.
- When only the word âsharkâ was used to describe the species, then it is assumed that the shark species was not identified. These cases were categorized as: âShark not identifiedâ.
- When the word âsharkâ was mentioned multiple times, when the name of the shark was followed by a question mark or when the word âorâ was used in the description, then it is assumed that it was uncertain which species was involved. These cases were categorized as: âSpecies uncertainâ.
- In all other cases, an attempt was made to find the appropriate common name of the shark species.
<br/><br/>

**Assumptions during analysis**
<br/>
There are multiple ways to interpret what the most dangerous types of sharks are to humans. What I considered the most dangerous were the type of sharks that were involved in attacks that had a fatal outcome. 
<br/><br/>

**Answer**
<br/>
The top five most dangerous types of sharks to humans according to my analysis are:

|Number|Shark species|Number of fatal attacks|
|------|-------------|-----------------------|
|1     |White shark  |896                    |
|2     |Tiger shark  |243                    |
|3     |Bull shark   |168                    |
|4     |Blacktip shark|64                    |
|5     |Whaler shark |61                     |

In [ ]:
# 1. What are the most dangerous types of sharks to humans?

shark_attacks.loc[(shark_attacks['Fatal_(Y/N)'] == 'Y')]

shark_attacks['Shark'].value_counts().head(10)

Shark not identified           896
White shark                    617
Tiger shark                    243
Bull shark                     168
Uncertain if it was a shark     76
Blacktip shark                  64
Species uncertain               62
Whaler shark                    61
Nurse shark                     56
Mako shark                      46
Name: Shark, dtype: int64

# **Question 2: Are children more likely to be attacked by sharks?**

**Assumptions during data preparation**
<br/>
A new column was added to the dataframe to assign an age category to every row where the age of the victim was known. This categorization works as follows:
- 'Unknown'
  - When the age of the victim was unknown.
- 'Child'
  - When the age was in months, or when the description âteenâ or âyoungâ was used.
  - When the age of the victim was below 18.
  - When multiple victims were involved in the case and all of them were below 18.
  - When the age of the victim was uncertain, but both suggestions were below 18.
- 'Adult'
  - When the age of the victim was 18 or above.
  - When multiple victims were involved in the case and all of them were 18 or above.
  - When the age of the victim was uncertain, but both suggestions were 18 or above.
- 'Child or adult'
  - When the age of the victim was uncertain and one suggestion was below 18 and the other was 18 or above.
- Child and adult'
  - When multiple victims were involved in the case and some of them were below 18 and others 18 or above.

Seven cases didn't get a proper age category assigned. Because this number was so low, these cases were excluded from the analysis.
<br/><br/>

**Answer**
<br/>
Based on the cases where the age of the victim was known, children are not more likely to be attacked by sharks.
<br/>
According to my analysis, there were 2332 cases that involved adults and 883 cases that involved children. In 2 cases it involved a child and an adult, and in 1 case it wasnât sure if it was a child or an adult.

In [ ]:
# 2. Are children more likely to be attacked by sharks?
shark_attacks['Age_Category'].value_counts()

Unknown            2530
Adult              2332
Child               883
                      7
Child and Adult       2
Child or Adult        1
Name: Age_Category, dtype: int64

# **Question 3: Are shark attacks where sharks were provoked more or less dangerous?**

**Assumptions during data analysis**
<br/>
The cases were no type was assigned were excluded from the analysis. This was the case for 4 cases. The cases were the type 'Boat' or 'Boating' was used, were also excluded (341). It was uncertain if these were considered provoked or unprovoked. The amount of cases used for the analysis were 5169. 
To determine whether provoked or unprovoked attacks were more dangerous, the amount of cases that had a fatal outcome were compared.
<br/><br/>

**Answer**
<br/>
There were 574 cases reported that involved a provoked shark attack. A total of 19 cases had a fatal outcome (3.3%). Of the 4595 cases that were considered unprovoked, a total of 1181 cases had a fatal outcome (25.7%). Based on these numbers, it can be concluded that provoked attacks are not more dangerous than unprovoked attacks. These are, in fact, less dangerous.

In [ ]:
# 3. Are shark attacks where sharks were provoked more or less dangerous?
print(shark_attacks.loc[(shark_attacks['Type'] == 'Boat') | (shark_attacks['Type'] == 'Boating') | (shark_attacks['Type'] == 'Boatomg')].shape[0])

provoked = shark_attacks.loc[(shark_attacks['Type'] == 'Provoked')].shape[0]
unprovoked = shark_attacks.loc[(shark_attacks['Type'] == 'Unprovoked')].shape[0]

print(f'Total amount of cases for analysis: {provoked + unprovoked}')

provoked_and_fatal = shark_attacks.loc[(shark_attacks['Type'] == 'Provoked') & (shark_attacks['Fatal_(Y/N)'] == 'Y')].shape[0]
unprovoked_and_fatal = shark_attacks.loc[(shark_attacks['Type'] == 'Unprovoked') & (shark_attacks['Fatal_(Y/N)'] == 'Y')].shape[0]

print(f'Amount of provoked attacks that were fatal: {provoked_and_fatal}. This is: {(provoked_and_fatal / provoked) * 100}%')
print(f'Amount of unprovoked attacks that were fatal: {unprovoked_and_fatal}. This is: {(unprovoked_and_fatal / unprovoked) * 100}%')

Total amount of cases for analysis: 5169
Amount of provoked attacks that were fatal: 19. This is: 3.3101045296167246%
Amount of unprovoked attacks that were fatal: 1181. This is: 25.701849836779108%

# **Question 4: Are certain activities more likely to result in a shark attack?**

**Assumptions during analysis**
<br/>
There are 1415 types of activities mentioned in the dataframe. Some are the same, but are formulated differently. No adjustments were made to the activities and were kept as is. The names of the top nine activities were used to search every row in the dataframe if one of those names was present in the description. This way, the top five activities also include the cases that used a different discription for the activity but still contained the name of the specific activity in that description. All activities that included diving (for example free diving and scuba diving) were combined into the category named 'Diving'. Some cases included multiple activities. 
<br/><br/>

**Answer**
<br/>
There are certain activities that are more likely to result in a shark attack than others. The top five activities are:

|Number|Activity     |Number of attacks|
|------|-------------|-----------------|
|1     |Surfing      |1211             |
|2     |Swimming     |1016             |
|3     |Fishing      |699              |
|4     |Diving       |516              |
|5     |Spearfishing |397              |

In [ ]:
# 4. Are certain activities more likely to result in a shark attack?
print(shark_attacks['Activity'].value_counts().head(10))

shark_attacks['Activity'] = shark_attacks['Activity'].str.lower()
surfing = 0
swimming = 0
fishing = 0
spearfishing = 0
bathing = 0
wading = 0
diving = 0
standing = 0
snorkeling = 0

for index, row in shark_attacks.iterrows():
  if row['Activity'] != None:
    if 'surf' in row['Activity']:
      surfing += 1
  
    if 'swim' in row['Activity']:
      swimming += 1
  
    if 'spearfishing' in row['Activity']:
      spearfishing += 1
  
    if 'bathing' in row['Activity']:
      bathing += 1
  
    if 'fishing' in row['Activity'] and 'spearfishing' not in row['Activity']:
      fishing += 1
    
    if 'wading' in row['Activity']:
      wading += 1
    
    if 'diving' in row['Activity']:
      diving += 1
    
    if 'standing' in row['Activity']:
      standing += 1

    if 'snorkeling' in row['Activity']:
      snorkeling += 1


print(f'Amount of cases that involved surfing: {surfing}')
print(f'Amount of cases that involved swimming: {swimming}')
print(f'Amount of cases that involved fishing: {fishing}')
print(f'Amount of cases that involved diving: {diving}')
print(f'Amount of cases that involved spearfishing: {spearfishing}')
print(f'Amount of cases that involved bathing: {bathing}')
print(f'Amount of cases that involved wading: {wading}')
print(f'Amount of cases that involved standing: {standing}')

surfing         931
swimming        779
fishing         411
spearfishing    307
bathing         150
wading          140
diving          115
standing         98
snorkeling       87
scuba diving     71
Name: Activity, dtype: int64
spearfishing, dived to pick up a float line                                                                                                             1
pulling shark from the water                                                                                                                            1
standing on sandbar                                                                                                                                     1
sinking of the m/v mindoro during a typhoon                                                                                                             1
swimming after his canoe capsized                                                                                                                       1
picking up shark by the tail                                                                                                                            1
wading & pushing dinghy toward  the shallows                                                                                                            1
diving. shark ÂswallowedÂ his hand, so he threw his other around the shark and went Âshark-back ridingÂ for 30 yards until the shark opened its jaws    1
small boat with 2 men onboard hit a submerged coral formation. men began swimming to shore                                                              1
wreck of  large double sailing canoe                                                                                                                    1
Name: Activity, dtype: int64
Amount of cases that involved surfing: 1211
Amount of cases that involved swimming: 1016
Amount of cases that involved fishing: 699
Amount of cases that involved diving: 516
Amount of cases that involved spearfishing: 397
Amount of cases that involved bathing: 179
Amount of cases that involved wading: 169
Amount of cases that involved standing: 147